Repository oneapi-src/unified-runtime, pull requests merged in 2023-11, with the labels that each got.

#968 [OpenCL] Add version check for urProgramSetSpecializationConstants
  source/adapters/opencl/enqueue.cpp
  source/adapters/opencl/program.cpp
Labels: ready to merge

#931 [UR] [CUDA] Changed the output of querying localMemSize
  source/adapters/cuda/device.cpp
  source/adapters/cuda/device.hpp
  source/adapters/cuda/enqueue.cpp
Labels: ready to merge

#1033 [UR][L0] Add support for urAdapterGetLastError in L0
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/kernel.cpp
  test/conformance/runtime/runtime_adapter_level_zero.match
Labels: ready to merge

#1028 [UR][L0] Add support for zeCommandListHostSynchronize
  source/adapters/level_zero/queue.cpp
Labels: ready to merge

#1022 [UR][L0] Propagate OOM errors from `USMAllocationMakeResident`
  source/adapters/level_zero/usm.cpp
Labels: ready to merge

#1044 [OpenCL] Combined CTS fixes
  source/adapters/opencl/common.cpp
  source/adapters/opencl/context.cpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/enqueue.cpp
  source/adapters/opencl/event.cpp
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/memory.cpp
  source/adapters/opencl/program.cpp
  source/adapters/opencl/queue.cpp
  source/adapters/opencl/sampler.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/adapters/opencl/usm.cpp
  test/conformance/kernel/urKernelGetGroupInfo.cpp
  test/conformance/queue/queue_adapter_cuda.match
  test/conformance/queue/queue_adapter_hip.match
  test/conformance/queue/queue_adapter_level_zero.match
  test/conformance/queue/urQueueCreate.cpp
Labels: conformance, ready to merge

#1059 [NATIVECPU] Move Native CPU adapter to UR.
  .github/CODEOWNERS
  CMakeLists.txt
  README.md
  source/adapters/CMakeLists.txt
  source/adapters/native_cpu/.clang-format
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/native_cpu/adapter.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/common.cpp
  source/adapters/native_cpu/common.hpp
  source/adapters/native_cpu/context.cpp
  source/adapters/native_cpu/context.hpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/device.hpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/event.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/memory.cpp
  source/adapters/native_cpu/memory.hpp
  source/adapters/native_cpu/nativecpu_state.hpp
  source/adapters/native_cpu/platform.cpp
  source/adapters/native_cpu/platform.hpp
  source/adapters/native_cpu/program.cpp
  source/adapters/native_cpu/program.hpp
  source/adapters/native_cpu/queue.cpp
  source/adapters/native_cpu/queue.hpp
  source/adapters/native_cpu/sampler.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/native_cpu/usm.cpp
  source/adapters/native_cpu/usm_p2p.cpp
  test/conformance/CMakeLists.txt
Labels: ready to merge, native-cpu

#1053 [UR][L0] Add UR_L0_LEAKS_DEBUG key
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/platform.cpp
Labels: ready to merge

#936 [HIP] Revert add prefetch for USM hip allocations a6b8fa66b537753415d24076f…
  source/adapters/hip/context.hpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/kernel.hpp
Labels: ready to merge

#986 [UR] Discourage using SYCL tc to generate kernels
  scripts/core/CUDA.rst
  scripts/core/HIP.rst
Labels: ready to merge

#1037 [UR][CUDA] Fix compatibility with CUDA 11.x
  source/adapters/cuda/command_buffer.cpp
Labels: ready to merge
