Repository oneapi-src/unified-runtime, pull requests merged in 2023-12, with the labels that each got.

#1108 [UR] Fix urAdapterGet ignores NumEntries
  scripts/templates/ldrddi.cpp.mako
  source/loader/ur_ldrddi.cpp
Labels: v0.8.x

#999 [HIP] Hip adapter multi dev ctx
  source/adapters/hip/context.cpp
  source/adapters/hip/context.hpp
  source/adapters/hip/device.hpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/event.cpp
  source/adapters/hip/event.hpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/kernel.hpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/memory.hpp
  source/adapters/hip/platform.cpp
  source/adapters/hip/program.cpp
  source/adapters/hip/program.hpp
  source/adapters/hip/queue.cpp
  source/adapters/hip/usm.cpp
  source/ur/ur.hpp
  test/adapters/hip/test_context.cpp
  test/conformance/context/context_adapter_hip.match
  test/conformance/memory/memory_adapter_hip.match
Labels: ready to merge

#988 Enable fp16 runtime support for hip
  source/adapters/hip/device.cpp
Labels: ready to merge, v0.8.x

#916 [UR][L0] Check Global Mem Size as Limit for Free Memory
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
Labels: ready to merge, v0.8.x

#1099 [UR][L0] Unify use of large allocation in L0 adapter
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/usm.cpp
Labels: ready to merge, v0.8.x

#1067 [UR][Loader] Fix handling of native handles
  scripts/templates/ldrddi.cpp.mako
  source/loader/ur_ldrddi.cpp
Labels: v0.8.x

#1123 [OpenCL] Add ur_usm_alloc_location_desc struct and handle it in the CL adapter.
  include/ur.py
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/registry.yml
  scripts/core/usm.yml
  source/adapters/opencl/usm.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/usm/usm_adapter_opencl.match
Labels: v0.8.x

#1179 [L0] coverity fixes
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/kernel.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
  source/adapters/level_zero/platform.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: v0.8.x

#1105 [UR][L0] Add several fixes to L0 adapter for test-usm
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm.hpp
  test/conformance/usm/usm_adapter_level_zero.match
Labels: v0.8.x

#1187 Remove docker directory from repo
  .github/docker/README.md
  .github/docker/install_dpcpp.sh
  .github/docker/install_libbacktrace.sh
  .github/docker/ubuntu-22.04.Dockerfile
Labels: v0.8.x

#1061 [UR][L0] Upgrade L0 loader to v1.15.1
  source/adapters/level_zero/CMakeLists.txt
Labels: ready to merge, v0.8.x

#1185 Fix coverity issues in OpenCL, cuda and hip adapters.
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/device.cpp
  source/adapters/cuda/event.cpp
  source/adapters/cuda/event.hpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/memory.hpp
  source/adapters/cuda/program.cpp
  source/adapters/cuda/sampler.cpp
  source/adapters/hip/device.hpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/event.cpp
  source/adapters/hip/event.hpp
  source/adapters/hip/memory.hpp
  source/adapters/hip/program.cpp
  source/adapters/hip/sampler.cpp
  source/adapters/opencl/program.cpp
Labels: v0.8.x
