Repository oneapi-src/unified-runtime, pull requests merged in 2024-10, with the labels that each got.

#2154 [CUDA][HIP] Fix exceptions throwing from adapter
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
Labels: cuda, hip, ready to merge, command-buffer

#2144 Add missing code to enforce subgroup size in subgroup test.
  test/conformance/device_code/subgroup.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
Labels: conformance

#2139 [L0] Pass and track event dependencies required before executing Memory Copy buffer inits
  .github/workflows/multi_device.yml
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
  test/conformance/memory-migrate/urMemBufferMigrateAcrossDevices.cpp
Labels: ci/cd, conformance, level-zero, ready to merge, command-buffer

#2142 Fix integration tests for CL.
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/integration/QueueEmptyStatus.cpp
  test/conformance/integration/integration_adapter_opencl.match
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance

#2158 Split source checks into a seperate workflow
  .github/workflows/cmake.yml
  .github/workflows/source-checks.yml
Labels: ci/cd, loader

#2161 Fix missing include in loader config test
  test/loader/loader_config/urLoaderConfigGetInfo.cpp
Labels: ready to merge

#2040 Event wait test
  test/conformance/enqueue/urEnqueueKernelLaunchAndMemcpyInOrder.cpp
Labels: ci/cd, common, conformance, level-zero

#2056 [CUDA][Bindless] Address USM normalized type image creation failure and functionality
  source/adapters/cuda/image.cpp
  source/adapters/cuda/image.hpp
Labels: images, cuda, ready to merge

#2101 Fix mixed output of adapter and regular traces
  scripts/templates/trcddi.cpp.mako
  source/loader/layers/tracing/ur_trcddi.cpp
  test/layers/tracing/hello_world.out.logged.match
Labels: loader

#2151 Improvements to align CTS and Spec for Sampler
  test/conformance/sampler/urSamplerCreate.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
Labels: conformance

#1869 [DeviceSanitizer] Memory overhead statistics
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_allocator.hpp
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.cpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_statistics.cpp
  source/loader/layers/sanitizer/asan_statistics.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, ready to merge, sanitizer

#2167 update e2e L0 xfail
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#2016 [L0 v2] implement USM allocation functions using UMF
  cmake/FetchLevelZero.cmake
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/usm.cpp
  source/adapters/level_zero/v2/usm.hpp
  source/common/CMakeLists.txt
  source/common/umf_helpers.hpp
  source/common/ur_pool_manager.hpp
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemBufferFill.cpp
  test/usm/usmPoolManager.cpp
Labels: ci/cd, common, conformance, level-zero

#2121 [L0] Refcnt Parent Buffer on Sub Buffer Create and die on use of buffer after free
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge, v0.10.x

#2071 [common] fixed some compilation warnings
  source/common/umf_helpers.hpp
  test/conformance/cts_exe.py
  test/layers/validation/fixtures.hpp
Labels: loader, common, conformance, level-zero, sanitizer

#2173 Candidate 2 for the v0.10.9 release tag
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero

#2018 [L0] Fix device query of bindless image support
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge

#2169 Install adapters by cmake
  .github/workflows/build-hw-reusable.yml
  cmake/helpers.cmake
  source/adapters/cuda/CMakeLists.txt
  source/adapters/hip/CMakeLists.txt
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/opencl/CMakeLists.txt
  source/loader/CMakeLists.txt
  test/CMakeLists.txt
  test/adapters/level_zero/CMakeLists.txt
Labels: ci/cd, loader, level-zero, cuda, hip, native-cpu

#2146 Compute-benchmarks use already compiled UR
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/main.py
  scripts/benchmarks/utils/utils.py
Labels: ci/cd, loader, level-zero, cuda, hip, native-cpu

#1190 [HIP] Refactor error handling in enqueue.cpp
  source/adapters/hip/enqueue.cpp
Labels: hip, ready to merge

#1964 Report correct extension string for devicelib assert in cuda + hip.
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
Labels: cuda, hip, ready to merge

#2038 [UR][hip][opencl] Mark urKernelSuggestMaxCooperativeGroupCountExp as unsupported instead of returning misleading default value
  source/adapters/hip/kernel.cpp
  source/adapters/opencl/kernel.cpp
Labels: hip, opencl, ready to merge

#2159 Update rst2pdf to Python3.12 compatible version
  third_party/requirements.txt
Labels: ready to merge

#1847 [CMake] Enable clang-format command on Windows
  .github/workflows/cmake.yml
  .github/workflows/source-checks.yml
  cmake/helpers.cmake
  scripts/templates/stype_map_helpers.hpp.mako
Labels: ci/cd

#1196 Replace PROGRAM_INFO_SOURCE with PROGRAM_INFO_IL.
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/program.yml
  source/adapters/cuda/program.cpp
  source/adapters/hip/program.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/native_cpu/program.cpp
  source/adapters/opencl/program.cpp
  test/conformance/program/program_adapter_cuda.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/program_adapter_opencl.match
  test/conformance/program/urProgramGetInfo.cpp
Labels: conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2075 Print CTS invocation to stderr to ease reproduction
  test/conformance/cts_exe.py
Labels: conformance

#1969 [DeviceSanitizer] Handle the case of urMemGetNativeHandle getting a nullptr Device
  source/loader/layers/sanitizer/asan_buffer.cpp
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, sanitizer

#2114 [DeviceSanitizer] Fix invalid-argument lit tests failure
  source/loader/layers/sanitizer/asan_report.cpp
Labels: loader, ready to merge, sanitizer

#2128 [DeviceSanitizer] Only try to get backtrace symbols when needed
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/linux/backtrace.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
  source/loader/layers/sanitizer/stacktrace.hpp
Labels: loader, sanitizer

#2028 [DeviceSanitizer] Init tracing layer after sanitizer layer to achieve proper tracing
  source/loader/ur_lib.hpp
Labels: loader, ready to merge

#2174 [NFC][CUDA] Include STL headers in program.cpp
  source/adapters/cuda/program.cpp
Labels: cuda

#2182 Fix successWithUnOwnedNativeHandle tests
  test/conformance/context/context_adapter_level_zero.match
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/device/device_adapter_cuda.match
  test/conformance/device/device_adapter_hip.match
  test/conformance/device/device_adapter_level_zero.match
  test/conformance/device/device_adapter_level_zero_v2.match
  test/conformance/device/device_adapter_opencl.match
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
Labels: conformance

#2185 Don't double-space captured output in test wrapper
  test/conformance/cts_exe.py
Labels: conformance, ready to merge

#2090 Hardening flags
  .github/workflows/cmake.yml
  CMakeLists.txt
  README.md
  cmake/helpers.cmake
  scripts/check-hardening.sh
  source/adapters/level_zero/CMakeLists.txt
  source/loader/layers/tracing/ur_tracing_layer.cpp
  test/adapters/level_zero/zeCallMap.cpp
  test/conformance/exp_command_buffer/fixtures.h
Labels: ci/cd, loader, conformance, specification, level-zero, ready to merge, sanitizer

#1469 [Spec Constants] Improved handling of invalid spec. constants
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/common.yml
  scripts/core/kernel.yml
  scripts/core/program.yml
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelSetSpecializationConstants.cpp
  test/conformance/program/program_adapter_cuda.match
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/program_adapter_level_zero.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/urProgramSetSpecializationConstants.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2194 [NFC] Whitespace fixes in yml files
  include/ur_api.h
  scripts/core/adapter.yml
  scripts/core/context.yml
  scripts/core/device.yml
  scripts/core/enqueue.yml
  scripts/core/event.yml
  scripts/core/exp-bindless-images.yml
  scripts/core/exp-cooperative-kernels.yml
  scripts/core/exp-enqueue-timestamp-recording.yml
  scripts/core/exp-launch-properties.yml
  scripts/core/exp-multi-device-compile.yml
  scripts/core/kernel.yml
  scripts/core/loader.yml
  scripts/core/memory.yml
  scripts/core/platform.yml
  scripts/core/program.yml
  scripts/core/queue.yml
  scripts/core/sampler.yml
  scripts/core/usm.yml
  scripts/core/virtual_memory.yml
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental

#2195 Update spec to clarify event list contents
  include/ur_api.h
  scripts/core/enqueue.yml
  scripts/core/exp-bindless-images.yml
  scripts/core/exp-command-buffer.yml
  scripts/core/exp-cooperative-kernels.yml
  scripts/core/exp-enqueue-timestamp-recording.yml
  scripts/core/exp-launch-properties.yml
  scripts/core/exp-native-enqueue.yml
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, command-buffer

#2198 Properly set up test environment for CTS
  test/conformance/CMakeLists.txt
Labels: conformance

#1586 [CTS] Added test for sequencing events
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/sequence.cpp
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/enqueue/urEnqueueEventsWaitWithBarrier.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: ci/cd, conformance

#2206 Revert "[L0] Phase 2 of Counter-Based Event Implementation"
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero

#2019 Remove superfluous namespace
  source/adapters/native_cpu/usm.cpp
Labels: ready to merge, native-cpu

#2020 Fix unspecified alignment
  source/adapters/native_cpu/usm.cpp
Labels: ready to merge, native-cpu

#2162 [NATIVECPU] Add UR_DEVICE_INFO_MAX_WORK_GROUP_SIZE for device info
  source/adapters/native_cpu/device.cpp
  test/conformance/device/device_adapter_native_cpu.match
Labels: conformance, ready to merge, native-cpu

#2176 [NATIVECPU] Report success for urProgramCompile and urProgramLink
  source/adapters/native_cpu/program.cpp
Labels: ready to merge, native-cpu

#2211 Remove soon to be deprecated macos-12 job
  .github/workflows/cmake.yml
Labels: ci/cd

#2127 [DeviceSanitizer] Refactor the code to manage shadow memory
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_shadow.cpp
  source/loader/layers/sanitizer/asan_shadow.hpp
  source/loader/layers/sanitizer/asan_shadow_setup.cpp
  source/loader/layers/sanitizer/asan_shadow_setup.hpp
  source/loader/layers/sanitizer/asan_statistics.cpp
  source/loader/layers/sanitizer/asan_statistics.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, sanitizer

#2192 [L0 v2] Implement (most of) the remaining enqueues functions
  source/adapters/level_zero/helpers/memory_helpers.cpp
  source/adapters/level_zero/helpers/memory_helpers.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/event_pool_cache.cpp
  source/adapters/level_zero/v2/event_pool_cache.hpp
  source/adapters/level_zero/v2/event_provider.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_counter.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/memory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/event_pool_test.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/urEnqueueKernelLaunchAndMemcpyInOrder.cpp
  test/conformance/enqueue/urEnqueueTimestampRecording.cpp
  test/conformance/event/event_adapter_level_zero_v2.match
Labels: conformance, level-zero

#2208 update to L0 loader version v1.18.3 and don't scan _deps with Trivy or CodeQL
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  cmake/FetchLevelZero.cmake
Labels: ci/cd

#2183 Enable Wextra on Linux
  cmake/helpers.cmake
  source/adapters/level_zero/v2/kernel.cpp
  test/conformance/exp_command_buffer/fixtures.h
Labels: ci/cd, loader, conformance, level-zero

#2126 [L0] Report Unsupported vs crash given unmatched image formats
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/memory.cpp
  test/conformance/memory/memory_adapter_level_zero.match
Labels: conformance, images, level-zero, ready to merge

#2063 [L0] Refactor to remove default constructor inits
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: images, level-zero, ready to merge, command-buffer

#2199 Rewrite cts_exe.py to handle match logic
  test/conformance/CMakeLists.txt
  test/conformance/cts_exe.py
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_level_zero.match
Labels: conformance

#2218 [NFC] Don't run conformance tests on mock adapter
  CMakeLists.txt
  test/conformance/CMakeLists.txt
  test/conformance/source/environment.cpp
Labels: ci/cd, conformance

#2204 [NFC] Remove "dependencies" on tests
  README.md
  test/adapters/CMakeLists.txt
  test/conformance/CMakeLists.txt
  test/layers/tracing/CMakeLists.txt
  test/loader/CMakeLists.txt
  test/loader/platforms/CMakeLists.txt
  test/tools/urtrace/CMakeLists.txt
Labels: conformance

#2221 Revert "[L0] Refactor to remove default constructor inits"
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: images, level-zero, command-buffer

#2131 [EXP][CMDBUF] Make command handle behaviour consistent
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/opencl/command_buffer.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, ready to merge, command-buffer

#2224 [DeviceASAN] Move GlobalShadowOffset, DeviceType, Debug into LaunchInfo
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/common.hpp
Labels: loader, sanitizer

#2147 Support UR program creation from multiple device binaries
  .github/workflows/multi_device.yml
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/program.yml
  source/adapters/cuda/program.cpp
  source/adapters/hip/program.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/program.hpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/program.cpp
  source/adapters/opencl/program.cpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/adapters/cuda/kernel_tests.cpp
  test/conformance/program/CMakeLists.txt
  test/conformance/program/program_adapter_level_zero.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/program/urMultiDeviceProgramCreateWithBinary.cpp
  test/conformance/program/urProgramCreateWithBinary.cpp
  test/conformance/program/urProgramCreateWithNativeHandle.cpp
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetFunctionPointer.cpp
  test/conformance/program/urProgramGetNativeHandle.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2170 [CTS] extend tests for urEnqueueEventsWait
  test/conformance/enqueue/CMakeLists.txt
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/enqueue/helpers.h
  test/conformance/enqueue/urEnqueueEventsWaitMultiDevice.cpp
  test/conformance/enqueue/urEnqueueKernelLaunchAndMemcpyInOrder.cpp
Labels: conformance

#2238 Revert "update to L0 loader version v1.18.3 and don't scan _deps with Trivy or CodeQL"
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  cmake/FetchLevelZero.cmake
Labels: ci/cd

#2001 Support device to device USM copies with the CL adapter.
  source/adapters/opencl/CMakeLists.txt
  source/adapters/opencl/usm.cpp
  source/adapters/opencl/usm.hpp
  test/conformance/enqueue/urEnqueueUSMMemcpy.cpp
Labels: conformance, ready to merge

#2143 Return more accurate errors from CL's ProgramCreateWithIL
  source/adapters/opencl/program.cpp
  test/conformance/program/program_adapter_opencl.match
Labels: conformance, ready to merge

#2160 Query out and use local size set in program IL in CL adapter.
  source/adapters/opencl/enqueue.cpp
  test/conformance/enqueue/enqueue_adapter_opencl.match
Labels: conformance, ready to merge

#2244 Revert "[NATIVECPU] Initial implementation of events on Native CPU"
  source/adapters/native_cpu/common.hpp
  source/adapters/native_cpu/context.hpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/event.cpp
  source/adapters/native_cpu/event.hpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/queue.cpp
  source/adapters/native_cpu/queue.hpp
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_native_cpu.match
Labels: conformance, native-cpu

#2239 Add guards to InvalidNullPointerPlatform
  test/conformance/platform/platform_adapter_cuda.match
  test/conformance/platform/platform_adapter_hip.match
  test/conformance/platform/platform_adapter_native_cpu.match
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
Labels: conformance

#2237 [DeviceAsan] Symbolizer may destruct before SanitizerInterceptor
  source/loader/layers/sanitizer/linux/symbolizer.cpp
Labels: loader, sanitizer

#2200 Bump UMF version to the latest
  source/common/CMakeLists.txt
Labels: common

#2229 [DeviceASAN] Fix incorrect symbolizer output for shared libraries
  source/loader/layers/sanitizer/linux/symbolizer.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
Labels: loader, sanitizer

#2243 [DeviceAsan] Enlarge nullpointer redzone to better detect problem
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_shadow.cpp
Labels: loader, sanitizer

#2069 [DeviceSanitizer] Add a report flag to LaunchInfo
  source/loader/layers/sanitizer/asan_libdevice.hpp
Labels: loader, sanitizer

#2242 [L0] Enable Sysman Thru Env by default and have zesInit be optional
  source/adapters/level_zero/adapter.cpp
Labels: level-zero, ready to merge, v0.10.x

#2152 Fix command-buffer binary update implementation
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
Labels: conformance, cuda, hip, ready to merge, command-buffer

#2255 [CTS] add randomly failing test to matchfile for L0
  test/conformance/enqueue/enqueue_adapter_level_zero.match
Labels: conformance

#2205 Check if compiler supports -fstack-clash-protection
  cmake/helpers.cmake
Labels: ready to merge

#2227 Handle INVALID_VALUE in OCL urPlatformGet
  include/ur_api.h
  scripts/core/platform.yml
  source/adapters/opencl/platform.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/platform/urPlatformGet.cpp
Labels: loader, conformance, specification, ready to merge

#2246 [spec][usm-p2p] p2p info query return int instead of uint32_t, fix l0 impl
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-USM-P2P.rst
  scripts/core/exp-usm-p2p.yml
  source/adapters/level_zero/usm_p2p.cpp
Labels: specification, experimental, level-zero, ready to merge

#2267 Update link for updating UNIFIED_RUNTIME_TAG in contribution doc
  scripts/core/CONTRIB.rst
Labels: specification

#2223 Enable (almost) all conformance test on PVC for L0
  .github/workflows/multi_device.yml
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  source/ur/ur.hpp
  test/conformance/enqueue/enqueue_adapter_level_zero.match
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/event/urEventWait.cpp
  test/conformance/kernel/kernel_adapter_level_zero_v2.match
  test/conformance/kernel/urKernelSetArgSampler.cpp
Labels: ci/cd, conformance, level-zero

#2259 [L0] Enable Immediate Command Lists by default given Intel GPU DG2 or newer
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
Labels: level-zero, ready to merge

#2241 [L0 v2] implement native APIs and urMemBufferPartition
  source/adapters/level_zero/helpers/memory_helpers.cpp
  source/adapters/level_zero/helpers/memory_helpers.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/memory.hpp
  source/adapters/level_zero/v2/queue_create.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/command_list_cache_test.cpp
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
Labels: conformance, level-zero

#2230 don't call xpti if there are no subscribers
  CMakeLists.txt
  examples/collector/collector.cpp
  source/loader/layers/tracing/ur_tracing_layer.cpp
  test/layers/tracing/test_collector.cpp
Labels: loader, v0.10.x

#2271 Candidate for the v0.10.11 release tag
  CMakeLists.txt
  examples/collector/collector.cpp
  source/loader/layers/tracing/ur_tracing_layer.cpp
  test/layers/tracing/test_collector.cpp
Labels: loader

#2228 [L0] Refactor Copy Engine Usage checks for Performance
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge, command-buffer
