Repository oneapi-src/unified-runtime, pull requests merged in 2024-03, with the labels that each got.

#1340 [HIP][CUDA][Command-Buffer] Fix Coverity issues in HIP/CUDA command-buffer code
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
Labels: ready to merge

#1426 [CUDA] Fix build issue with version < 12.0
  source/adapters/cuda/command_buffer.cpp
Labels: ready to merge, v0.9.x

#1406 [Coverity][L0] Remove overlapping mem copy in urBindlessImagesSampledImageCreateExp
  source/adapters/level_zero/image.cpp
Labels: v0.9.x

#1372 [L0] Add support for in-order lists using L0 driver
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.9.x

#1351 [Bindless][CUDA] Mipmap interop
  source/adapters/cuda/image.cpp
Labels: ready to merge, v0.9.x

#1431 [CL] Gracefully tear down adapter in case that some globals have been released
  source/adapters/opencl/adapter.cpp
  source/adapters/opencl/common.hpp
Labels: ready to merge, v0.9.x

#1365 [EXP][CMDBUF] Move event reset commands to dedicated cmd-list
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: ready to merge, v0.9.x

#1319 [EXP][CMDBUF] Improve CUDA Fill op implementation
  source/adapters/cuda/command_buffer.cpp
Labels: ready to merge, v0.9.x

#1429 [L0] Support for urUsmP2PPeerAccessGetInfoExp to query p2p access info
  source/adapters/level_zero/usm_p2p.cpp
Labels: level-zero, ready to merge, v0.9.x

#1369 [EXP][usm p2p] Add test for ur_exp_usm_p2p and impl for hip
  include/ur_api.h
  scripts/core/EXP-USM-P2P.rst
  scripts/core/exp-usm-p2p.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/usm_p2p.cpp
  test/conformance/CMakeLists.txt
  test/conformance/exp_usm_p2p/CMakeLists.txt
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_cuda.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_hip.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_level_zero.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_native_cpu.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_opencl.match
  test/conformance/exp_usm_p2p/usm_p2p.cpp
Labels: ready to merge, v0.9.x

#1403 [cuda][hip] Removed bad event wait constraint / use scopedContext correctly.
  source/adapters/cuda/event.cpp
  source/adapters/hip/event.cpp
Labels: ready to merge, v0.9.x

#1291 [CUDA] Report that devices with cc >= sm_70 support seq_cst
  source/adapters/cuda/device.cpp
Labels: ready to merge, v0.9.x

#1255 [SPEC] Add urProgramGetGlobalVariablePointer entrypoint
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/program.yml
  scripts/core/registry.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/program.cpp
  source/adapters/hip/program.hpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/program.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/program.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/device_code/device_global.cpp
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/enqueue/enqueue_adapter_level_zero.match
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/urEnqueueDeviceGlobalVariableRead.cpp
  test/conformance/program/CMakeLists.txt
  test/conformance/program/urProgramGetGlobalVariablePointer.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
Labels: ready to merge, v0.9.x

#1353 [L0] Support updating kernel commands in command buffers
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
Labels: level-zero, ready to merge, v0.9.x

#1326 [CUDA][HIP] Fix bug in guess local worksize funcs and improve local worksize guessing in HIP adapter
  source/adapters/cuda/enqueue.cpp
  source/adapters/hip/enqueue.cpp
  source/ur/ur.hpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: ready to merge, v0.9.x

#1447 [HIP][CMDBUF] Require ROCm 5.5.1 for HIP command-buffers
  source/adapters/hip/device.cpp
Labels: ready to merge, v0.9.x

#1439 [L0] Fix Native Host memory usage on device with copy back sync
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge, v0.9.x

#1445 [L0] Enable default support for L0 in-order lists
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, v0.9.x

#1468 [L0] fix a deadlock on a recursive event rwlock
  source/adapters/level_zero/event.cpp
Labels: v0.9.x

#1363 [CUDA] Refactor device initialization
  source/adapters/cuda/device.hpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/platform.cpp
Labels: ready to merge, v0.9.x

#1467 Add new ERROR status for events, and corresponding error code.
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/common.yml
  scripts/core/enqueue.yml
  scripts/core/event.yml
  source/adapters/opencl/common.cpp
  source/adapters/opencl/event.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: v0.9.x
