Repository oneapi-src/unified-runtime, pull requests merged in 2024-12, with the labels that each got.

#2286 [Common] fix parseDisjointPoolConfig
  source/common/umf_pools/disjoint_pool_config_parser.cpp
Labels: common

#2250 [DevAsan] Add an option to enable/disable leak detection
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan/asan_options.cpp
  source/loader/layers/sanitizer/asan/asan_options.hpp
Labels: loader, ready to merge, sanitizer, v0.11.x

#2404 Add UR_ADAPTER_INFO_VERSION query
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/adapter.yml
  source/adapters/cuda/adapter.cpp
  source/adapters/hip/adapter.cpp
  source/adapters/level_zero/adapter.cpp
  source/adapters/native_cpu/adapter.cpp
  source/adapters/opencl/adapter.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/adapter/urAdapterGetInfo.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, native-cpu

#2405 Add sanitizer ignorelist for cfi
  cmake/helpers.cmake
  sanitizer-ignorelist.txt
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
Labels: conformance

#2403 Add new launch property to support work_group_scratch_memory
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-launch-properties.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_launch_properties/launch_properties.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, ready to merge, v0.11.x

#2353 [L0] Enable zesInit by default given newer L0 IP version
  source/adapters/level_zero/adapter.cpp
Labels: level-zero, ready to merge, v0.11.x

#2413 [L0] Shorten the dir name for the fecthed repo to avoid hitting Windows max limit
  cmake/FetchLevelZero.cmake
Labels: v0.11.x

#2416 [L0] Disabling Driver In Order Lists by default
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, command-buffer, v0.10.x, v0.11.x

#2418 Nrspruit/v0.10.15rc
  CMakeLists.txt
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
Labels: level-zero, command-buffer

#2361 [L0] Add Support for External Semaphores
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: images, level-zero, ready to merge, v0.11.x

#2334 [L0] Interrupt-based event implementation
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge, command-buffer, v0.11.x

#1811 [UR][CUDA] Add tensor map APIs
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-TENSOR-MAP.rst
  scripts/core/exp-tensor-map.yml
  scripts/core/registry.yml
  source/adapters/adapter.def.in
  source/adapters/adapter.map.in
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/tensor_map.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/tensor_map.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/tensor_map.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/native_cpu/tensor_map.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/CMakeLists.txt
  source/adapters/opencl/tensor_map.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/loader/ur_libddi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, level-zero, cuda, hip, opencl, native-cpu, v0.11.x

#2249 [DeviceASAN] Use device usm to sync asan runtime data instead of shared usm
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan/asan_libdevice.hpp
Labels: loader, ready to merge, sanitizer, v0.11.x

#2316 Change `urSuggestMaxCooperativeGroupCountExp` to accept ND size parameter
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-cooperative-kernels.yml
  source/adapters/cuda/kernel.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/opencl/kernel.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, v0.11.x

#2263 Explicitly specify USMFree as a blocking operation.
  include/ur_api.h
  scripts/core/usm.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/CMakeLists.txt
  test/conformance/usm/CMakeLists.txt
  test/conformance/usm/urUSMFree.cpp
  test/conformance/usm/usm_adapter_native_cpu.match
Labels: loader, conformance, specification

#2266 [DeviceASAN] Re-use shadow if required size is not larger than last one
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_shadow.cpp
  source/loader/layers/sanitizer/asan/asan_shadow.hpp
Labels: loader, ready to merge, sanitizer, v0.11.x

#2355 [HIP] Implement num regs kernel query
  source/adapters/hip/kernel.cpp
  test/conformance/kernel/kernel_adapter_hip.match
Labels: conformance, hip, ready to merge

#2357 [HIP] Fix error code for unsupported program info
  source/adapters/cuda/program.cpp
  source/adapters/hip/program.cpp
  test/conformance/program/program_adapter_hip.match
Labels: conformance, cuda, hip, ready to merge

#2352 Fix a number of issues from the latest coverity scan.
  source/adapters/cuda/common.cpp
  source/adapters/hip/common.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/native_cpu/common.cpp
  source/adapters/opencl/common.cpp
  source/loader/layers/sanitizer/asan/asan_report.cpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_stacktrace.cpp
  test/conformance/source/environment.cpp
  test/conformance/usm/urUSMFree.cpp
  test/conformance/usm/urUSMSharedAlloc.cpp
Labels: loader, conformance, level-zero, cuda, hip, opencl, ready to merge, native-cpu, sanitizer, v0.11.x

#2379 Fix command_buffer coverity issues
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
Labels: cuda, ready to merge, command-buffer, v0.11.x

#2429 [L0] Fixed getImmCmdList returning cmdlist with wrong properties
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.11.x

#2406 Add SDL hardening flags for MSVC
  cmake/helpers.cmake
  test/conformance/exp_command_buffer/fixtures.h
Labels: conformance, ready to merge, v0.11.x

#2383 [L0] fix use-after-free in urProgramLinkExp
  source/adapters/level_zero/program.cpp
Labels: level-zero, ready to merge, v0.11.x

#2410 [L0] Fix cached and evicted timestamp recordings
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge, v0.11.x

#2431 [Tests] replace zeCallsMap with zelTracer
  source/adapters/level_zero/common.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/event_cache_tests.cpp
  test/adapters/level_zero/multi_device_event_cache_tests.cpp
  test/adapters/level_zero/zeCallMap.cpp
  test/adapters/level_zero/ze_tracer_common.hpp
Labels: level-zero

#2438 [DeviceSan] Update cmake to add missing change from code refactor
  source/loader/CMakeLists.txt
Labels: loader, ready to merge, v0.11.x

#2445 Enable level zero multi_queue test on CI
  .github/workflows/multi_device.yml
  test/adapters/level_zero/multi_device_event_cache_tests.cpp
Labels: ci/cd

#2430 [UR] Fix correct usage of In Order sync list given counting events
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, v0.11.x

#2434 [CMake] Add UR_USE_EXTERNAL_UMF to find pre-built UMF
  source/common/CMakeLists.txt
Labels: ready to merge, v0.11.x

#2299 [CUDA][Bindless] Fix memory leak in interop mapping
  source/adapters/cuda/device.hpp
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge

#2336 [CUDA][HIP][CommandBuffer] Add try catches to anything that can throw
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
Labels: cuda, hip, ready to merge, command-buffer

#2272 Improvements to align CTS and Spec for Virtual Memory
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/memory.yml
  scripts/core/registry.yml
  scripts/core/virtual_memory.yml
  source/adapters/cuda/physical_mem.cpp
  source/adapters/cuda/physical_mem.hpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/physical_mem.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/physical_mem.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/physical_mem.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/physical_mem.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/virtual_memory/CMakeLists.txt
  test/conformance/virtual_memory/urPhysicalMemCreate.cpp
  test/conformance/virtual_memory/urPhysicalMemGetInfo.cpp
  test/conformance/virtual_memory/urPhysicalMemRelease.cpp
  test/conformance/virtual_memory/urPhysicalMemRetain.cpp
  test/conformance/virtual_memory/urVirtualMemMap.cpp
  test/conformance/virtual_memory/urVirtualMemSetAccess.cpp
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero_v2.match
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2354 [L0 v2] implement native handle API for event
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/event_pool_cache.cpp
  source/adapters/level_zero/v2/event_pool_cache.hpp
  source/adapters/level_zero/v2/event_provider.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_counter.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/urEventCreateWithNativeHandle.cpp
  test/adapters/level_zero/v2/event_pool_test.cpp
  test/adapters/level_zero/ze_helpers.hpp
  test/conformance/enqueue/urEnqueueEventsWaitMultiDevice.cpp
Labels: conformance, level-zero

#2350 [L0 v2] fix urMemGetNativeHandle
  source/adapters/level_zero/v2/memory.cpp
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/memory/urMemGetNativeHandle.cpp
Labels: conformance, level-zero

#2446 [L0 v2] add missing catches to usm functions
  source/adapters/level_zero/v2/usm.cpp
Labels: level-zero

#2391 [L0 v2] fixes around eventsWait and eventsWaitWithBarrier
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/conformance/event/urEventGetProfilingInfo.cpp
Labels: conformance, level-zero

#2437 add a few missing Intel GPU device queries, fix device ID query
  source/adapters/opencl/device.cpp
Labels: ready to merge

#2459 Update CI to newer DPC++.
  .github/docker/install_dpcpp.sh
  .github/workflows/build-fuzz-reusable.yml
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  .github/workflows/multi_device.yml
  test/conformance/device_code/CMakeLists.txt
Labels: ci/cd, conformance

#2327 [CommandBuffer] Make double finalizing fail
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/opencl/command_buffer.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, command-buffer

#2461 [DeviceASAN] Register globals for the program
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
Labels: loader, ready to merge, v0.11.x

#2454 Fix L0 command-buffer consumption of multi-device kernels
  source/adapters/level_zero/command_buffer.cpp
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/program/urMultiDeviceProgramCreateWithBinary.cpp
Labels: conformance, level-zero, ready to merge, command-buffer, v0.11.x

#2464 [benchmarks] pin benchmarks to specific cores
  .github/workflows/benchmarks-reusable.yml
  scripts/benchmarks/benches/umf.py
Labels: ci/cd

#2427 [L0 v2] enable functions realted to virtual/physical memory management
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/physical_mem.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/virtual_mem.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero_v2.match
Labels: conformance, level-zero

#2432 Bump version to v0.12.0
  CMakeLists.txt
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/Doxyfile
  scripts/core/platform.yml
  scripts/parse_specs.py
  source/ur_api.cpp
  test/tools/urtrace/mock_hello_json.match
Labels: specification

#2449 [L0] Update L0 Init checking to print details in error log
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
Labels: level-zero, ready to merge, v0.11.x

#2452 [L0] Fixed event leak when outevent is given and is completed
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.11.x

#2365 Add query to retrieve adapter handle from platform.
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/platform.yml
  source/adapters/cuda/platform.cpp
  source/adapters/hip/platform.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/native_cpu/adapter.cpp
  source/adapters/native_cpu/adapter.hpp
  source/adapters/native_cpu/platform.cpp
  source/adapters/opencl/platform.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2376 Enable adapter tests to run on all discovered adapters.
  source/adapters/native_cpu/ur_interface_loader.cpp
  test/conformance/adapter/adapter_adapter_native_cpu.match
  test/conformance/adapter/fixtures.h
  test/conformance/adapter/urAdapterGet.cpp
  test/conformance/adapter/urAdapterGetInfo.cpp
  test/conformance/adapter/urAdapterGetLastError.cpp
  test/conformance/adapter/urAdapterRelease.cpp
  test/conformance/adapter/urAdapterRetain.cpp
  test/conformance/platform/fixtures.h
  test/conformance/source/environment.cpp
  test/conformance/source/main.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
  test/conformance/testing/source/utils.cpp
Labels: conformance, ready to merge, native-cpu

#2472 [L0] For 3-Channel memory, disable Copy engine Usage
  source/adapters/level_zero/image.cpp
Labels: images, level-zero, ready to merge, v0.11.x

#2474 [L0] Fix use after free with Module build strings
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/program.hpp
Labels: level-zero, ready to merge, v0.11.x

#2477 [DevMSAN] Don't return error if try to get "__MsanKernelMetadata" failed
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
Labels: loader, ready to merge, v0.11.x

#2415 [DeviceASAN] Fix ASAN with kernel assert
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan/asan_libdevice.hpp
Labels: loader, ready to merge, v0.11.x

#2476 [L0] Fix Event Memory Leak due to no destroy on delete
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
Labels: level-zero, ready to merge, v0.11.x

#2425 [CUDA] Fix potential issue with command buffer fills on CUDA
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  test/conformance/exp_command_buffer/event_sync.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/update/event_sync.cpp
Labels: conformance, cuda, ready to merge, command-buffer

#2344 [CTS] Skip images and fill2D tests if feature is not supported
  source/adapters/native_cpu/device.cpp
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/enqueue/enqueue_adapter_level_zero.match
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/urMemImageCreateWithImageFormatParam.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, level-zero, ready to merge, native-cpu

#2471 [L0] Fix issue with test include path
  test/adapters/level_zero/ze_tracer_common.hpp
Labels: ready to merge

#2277 [Spec] fix urKernelSuggestMaxCooperativeGroupCountExp
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-cooperative-kernels.yml
  source/adapters/cuda/kernel.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/opencl/kernel.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, level-zero, cuda, hip, opencl, ready to merge

#2463 [CI] Gather platform's info in all HW workflows
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/e2e_core.yml
Labels: ci/cd

#2409 Enable platform CTS tests to run on all available platforms.
  test/adapters/cuda/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceGet.cpp
  test/conformance/device/urDeviceGetSelected.cpp
  test/conformance/memory-migrate/urMemBufferMigrateAcrossDevices.cpp
  test/conformance/platform/CMakeLists.txt
  test/conformance/platform/fixtures.h
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformGet.cpp
  test/conformance/platform/urPlatformGetApiVersion.cpp
  test/conformance/platform/urPlatformGetBackendOption.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  test/conformance/platform/urPlatformGetNativeHandle.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, native-cpu

#2498 Update usage of zeCommandListImmediateAppendCommandListsExp to use dlsym
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: level-zero, ready to merge, command-buffer, v0.11.x

#2499 [CTS] adjust timestamp test
  test/conformance/event/urEventGetProfilingInfo.cpp
Labels: conformance

#2402 [DevASAN][CPU] bugfix for mmap return value check.
  source/loader/layers/sanitizer/sanitizer_common/linux/sanitizer_utils.cpp
Labels: loader

#2484 [DevMSAN] Move clean shadow into launch info
  source/loader/layers/sanitizer/msan/msan_libdevice.hpp
Labels: loader
