Repository oneapi-src/unified-runtime, pull requests merged in 2024-02, with the labels that each got.

#1193 [HIP] Support managed allocations in USM free
  source/adapters/hip/usm.cpp
Labels: ready to merge

#1194 [HIP] Explicitly specify copy direction for USM 2D async memory copies
  source/adapters/hip/enqueue.cpp
Labels: ready to merge

#1211 Update scripts and loader template to allow object handles in structs.
  scripts/core/CONTRIB.rst
  scripts/parse_specs.py
  scripts/templates/helper.py
  scripts/templates/ldrddi.cpp.mako
Labels: ready to merge

#1240 [Bindless][exp] 1D Image copy fix
  source/adapters/cuda/image.cpp
Labels: ready to merge

#1218 [EXP][CMDBUF] L0 Immediate command-list support
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: ready to merge

#1252 [L0] move platform cache into the adapter structure
  .github/workflows/cmake.yml
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/ur/ur.cpp
  source/ur/ur.hpp
Labels: level-zero, ready to merge, v0.8.x

#1192 Initial support for sycl_ext_oneapi_composite_device
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/device.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  tools/urinfo/urinfo.hpp
Labels: ready to merge

#1321 [L0] move adapter init into its constructor from urAdapterGet
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/platform.cpp
Labels: level-zero, v0.8.x

#1300 [L0] Cleanup Queue at Release unconditionally and reset command list after failure
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.8.x

#1328 [EXP][CMDBUF] Reset events for multiple submissions (bugfix)
  source/adapters/level_zero/command_buffer.cpp
Labels: ready to merge

#1324 [L0] Allocate event pools efficiently in multi-device scenarios
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge, v0.8.x

#1089 [EXP][Command-Buffer] Add kernel command update
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  scripts/core/registry.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/device.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/CMakeLists.txt
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/indexers_usm.cpp
  test/conformance/device_code/saxpy.cpp
  test/conformance/device_code/saxpy_usm.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_opencl.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/invalid_update.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/release.cpp
  test/conformance/exp_command_buffer/retain.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/testing/include/uur/utils.h
  tools/urinfo/urinfo.hpp
Labels: ready to merge

#1216 [UR] Remove UMF sources and use standalone UMF repo instead
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/usm.cpp
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/usm.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm.hpp
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/opencl/CMakeLists.txt
  source/common/CMakeLists.txt
  source/common/umf_helpers.hpp
  source/common/umf_pools/CMakeLists.txt
  source/common/umf_pools/disjoint_pool.cpp
  source/common/umf_pools/disjoint_pool.hpp
  source/common/umf_pools/disjoint_pool_config_parser.cpp
  source/common/umf_pools/disjoint_pool_config_parser.hpp
  source/common/unified_malloc_framework/CMakeLists.txt
  source/common/unified_malloc_framework/include/umf.h
  source/common/unified_malloc_framework/include/umf/base.h
  source/common/unified_malloc_framework/include/umf/memory_pool.h
  source/common/unified_malloc_framework/include/umf/memory_pool_ops.h
  source/common/unified_malloc_framework/include/umf/memory_provider.h
  source/common/unified_malloc_framework/include/umf/memory_provider_ops.h
  source/common/unified_malloc_framework/src/critnib/critnib.c
  source/common/unified_malloc_framework/src/critnib/critnib.h
  source/common/unified_malloc_framework/src/memory_pool.c
  source/common/unified_malloc_framework/src/memory_pool_default.c
  source/common/unified_malloc_framework/src/memory_pool_internal.h
  source/common/unified_malloc_framework/src/memory_pool_tracking.c
  source/common/unified_malloc_framework/src/memory_provider.c
  source/common/unified_malloc_framework/src/memory_provider_get_last_failed.cpp
  source/common/unified_malloc_framework/src/memory_provider_internal.h
  source/common/unified_malloc_framework/src/memory_tracker.c
  source/common/unified_malloc_framework/src/memory_tracker.h
  source/common/unified_malloc_framework/src/memory_tracker_windows.cpp
  source/common/unified_malloc_framework/src/utils/utils.h
  source/common/unified_malloc_framework/src/utils/utils_posix.c
  source/common/unified_malloc_framework/src/utils/utils_windows.cpp
  source/common/ur_pool_manager.hpp
  test/CMakeLists.txt
  test/unified_malloc_framework/CMakeLists.txt
  test/unified_malloc_framework/base.cpp
  test/unified_malloc_framework/common/base.hpp
  test/unified_malloc_framework/common/pool.c
  test/unified_malloc_framework/common/pool.h
  test/unified_malloc_framework/common/pool.hpp
  test/unified_malloc_framework/common/provider.c
  test/unified_malloc_framework/common/provider.h
  test/unified_malloc_framework/common/provider.hpp
  test/unified_malloc_framework/memoryPool.hpp
  test/unified_malloc_framework/memoryPoolAPI.cpp
  test/unified_malloc_framework/memoryProvider.hpp
  test/unified_malloc_framework/memoryProviderAPI.cpp
  test/unified_malloc_framework/umf_pools/CMakeLists.txt
  test/unified_malloc_framework/umf_pools/disjoint_pool.cpp
  test/unified_malloc_framework/umf_pools/disjoint_pool_config_parser.cpp
  test/usm/CMakeLists.txt
  test/usm/usmPoolManager.cpp
Labels: ready to merge

#1246 [UR] Add default implementation for cooperative kernel functions
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-cooperative-kernels.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/enqueue.cpp
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: ready to merge

#1366 [L0] Fix the multi device event cache to allocate lists as pointers
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: v0.8.x

#1274 [Bindless][Exp] Add Support For Image Arrays
  source/adapters/cuda/image.cpp
Labels: ready to merge

#1254 [EXP][CMDBUF] HIP adapter support for command buffers
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/hip/device.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/enqueue.hpp
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/fixtures.h
Labels: ready to merge

#1356 [OCL] Fix use of CL_RETURN_ON_FAILURE instead of UR_RETURN_ON_FAILURE
  source/adapters/opencl/kernel.cpp
Labels: ready to merge

#1281 [urinfo] Fix stray NULLs in stdout
  tools/urinfo/utils.hpp
Labels: ready to merge
