Repository oneapi-src/unified-runtime, pull requests merged in 2024-08, with the labels that each got.

#1902 improve benchmarks automation
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/benches/SobelFilter.py
  scripts/benchmarks/benches/api_overhead.py
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/benches/cudaSift.py
  scripts/benchmarks/benches/easywave.py
  scripts/benchmarks/benches/hashtable.py
  scripts/benchmarks/benches/options.py
  scripts/benchmarks/benches/quicksilver.py
  scripts/benchmarks/benches/result.py
  scripts/benchmarks/benches/velocity.py
  scripts/benchmarks/main.py
  scripts/benchmarks/output.py
  scripts/benchmarks/utils/utils.py
Labels: ci/cd

#1920 [DeviceSanitizer] Add missing required library
  source/loader/CMakeLists.txt
Labels: loader

#1883 Don't retain device handle references in sanitizer layer.
  source/loader/layers/sanitizer/asan_interceptor.hpp
Labels: loader, ready to merge, sanitizer

#1918 update L0 e2e workflow
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#1906 [L0] Add check for Intel Flex/Arc for disabling use of copy engines.
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge, command-buffer, v0.10.x

#1896 Map ur_bool_t to cl_bool in sampler getinfo for opencl adapter
  source/adapters/opencl/sampler.cpp
Labels: ready to merge, v0.10.x

#1810 [L0] Fix kernel error handling and enumeration checking
  source/adapters/level_zero/kernel.cpp
  test/conformance/kernel/kernel_adapter_level_zero-v2.match
  test/conformance/kernel/kernel_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge, command-buffer, v0.10.x

#1812 Fix L0 Program CTS failures
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/program.hpp
  test/conformance/program/program_adapter_level_zero-v2.match
  test/conformance/program/program_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge, v0.10.x

#1921 switch ubuntu runners to a shared pool
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/e2e_core.yml
  .github/workflows/labeler.yml
  .github/workflows/prerelease.yml
  .github/workflows/scorecard.yml
  .github/workflows/trivy.yml
Labels: ci/cd

#1926 Add option to force use of libstdc++ on Linux
  CMakeLists.txt
Labels: v0.10.x

#1922 Bump UMF version with latest fixes
  source/common/CMakeLists.txt
Labels: common

#1927 fix scorecard job
  .github/workflows/scorecard.yml
Labels: ci/cd

#1929 Revert "[L0] L0 impl for enqueue native command"
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
  test/conformance/exp_enqueue_native/enqueue_native_level_zero.cpp
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_level_zero-v2.match
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_level_zero.match
Labels: conformance, level-zero

#1932 [L0 v2] Add raii wrapper for L0 handles
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_counter.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
Labels: level-zero

#1912 [common] Histogram-based latency tracker
  .github/workflows/cmake.yml
  CMakeLists.txt
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/common/CMakeLists.txt
  source/common/latency_tracker.hpp
Labels: ci/cd, common, level-zero

#1941 add 1 hour time limit for e2e tests
  .github/workflows/e2e_cuda.yml
  .github/workflows/e2e_level_zero.yml
  .github/workflows/e2e_opencl.yml
Labels: ci/cd

#1943 Fix various Coverity defects
  source/adapters/cuda/memory.hpp
  source/adapters/mock/ur_mock.cpp
  source/common/ur_util.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/validation/ur_leak_check.hpp
  test/adapters/level_zero/v2/command_list_cache_test.cpp
  test/conformance/memory/urMemImageCreate.cpp
Labels: loader, common, conformance, cuda, sanitizer

#1945 Suppress e2e test failures in L0 and OpenCL
  .github/workflows/e2e_level_zero.yml
  .github/workflows/e2e_opencl.yml
Labels: ci/cd

#1699 [NATIVECPU] Implement urUSMGetMemAllocInfo and aligned alloc
  source/adapters/native_cpu/context.hpp
  source/adapters/native_cpu/usm.cpp
Labels: ready to merge, native-cpu

#1850 Cosmetic tweaks to native enqueue spec
  scripts/core/EXP-NATIVE-ENQUEUE.rst
Labels: specification, experimental, ready to merge

#1843 [DeviceSanitizer] Support check invalid kernel argument
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_report.hpp
  source/loader/layers/sanitizer/asan_validator.cpp
  source/loader/layers/sanitizer/asan_validator.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, ready to merge, sanitizer

#1930 Make pragma region names joined by _
  include/ur_api.h
  scripts/templates/api.h.mako
Labels: ready to merge, v0.10.x

#1911 [CUDA] Don't import XPTI symbols in the plugin library
  source/adapters/cuda/CMakeLists.txt
Labels: cuda, ready to merge, v0.10.x

#1860 [NATIVECPU] Fix pointer arithmetic in USMfill
  source/adapters/native_cpu/enqueue.cpp
Labels: ready to merge, native-cpu

#1910 [CUDA][HIP] Improve command-buffer sync points
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fill.cpp
  test/conformance/exp_command_buffer/fixtures.h
Labels: conformance, cuda, hip, ready to merge, command-buffer, v0.10.x

#1923 [L0] Return the build log on compilation failure
  source/adapters/level_zero/program.cpp
Labels: level-zero, ready to merge, v0.10.x

#1933 [L0] Fix Driver Version check to use extension and tuple check
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: level-zero, ready to merge, command-buffer, v0.10.x

#1950 [Benchmark] Add UR SubmitKernel bench
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/README.md
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/main.py
Labels: ci/cd

#1893 [L0 v2] event improvements
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  source/adapters/CMakeLists.txt
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/event_pool_cache.cpp
  source/adapters/level_zero/v2/event_pool_cache.hpp
  source/adapters/level_zero/v2/event_provider.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_counter.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
  source/adapters/level_zero/v2/queue_create.cpp
  test/adapters/CMakeLists.txt
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/v2/event_pool_test.cpp
  test/conformance/CMakeLists.txt
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero_v2.match
  test/conformance/kernel/kernel_adapter_level_zero_v2.match
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/queue/queue_adapter_level_zero_v2.match
Labels: ci/cd, conformance, level-zero

#1960 Command-buffer immediate command-list CTS fix
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer, v0.10.x

#1952 Make USM parameter bounds checking configurable
  scripts/core/INTRO.rst
  scripts/templates/valddi.cpp.mako
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/layers/validation/ur_validation_layer.hpp
Labels: loader, specification, ready to merge, v0.10.x

#1955 [L0] fix Coverity issues for L0 Adapter
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/usm.cpp
Labels: images, level-zero, ready to merge, v0.10.x

#1948 [CMake] Add flag to disable fuzztesting
  test/CMakeLists.txt
Labels: ready to merge

#1958 [L0] move kernel helper functions to a separate file
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/helpers/kernel_helpers.cpp
  source/adapters/level_zero/helpers/kernel_helpers.hpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/kernel.hpp
Labels: level-zero, command-buffer

#1946 Update expected values of SYCL_UR_TRACE environment variable
  source/ur/ur.cpp
Labels: ready to merge, v0.10.x

#1971 [CI] Fix coverity workflow
  .github/workflows/coverity.yml
Labels: ci/cd

#1953 Change urDeviceCreateWithNativeHandle to take an adapter handle.
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/device.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/adapters/cuda/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, ready to merge, native-cpu, v0.10.x

#1957 [L0] make device id an optional
  source/adapters/level_zero/device.hpp
Labels: level-zero, ready to merge, v0.10.x

#1966 [L0] Fix incorrect profiling values for in-order queue barriers
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.10.x

#1931 [L0] Enable L0 Driver Init to init all device types with filtering
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.hpp
Labels: level-zero, ready to merge, v0.10.x

#1973 Fix some coverity issues
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/stacktrace.cpp
  test/layers/validation/fixtures.hpp
  test/layers/validation/leaks.cpp
  test/loader/handles/fixtures.hpp
Labels: loader, ready to merge, sanitizer, v0.10.x

#1983 [L0] Fixed program info binary size query and fix program handle init
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/program.hpp
Labels: level-zero, ready to merge, v0.10.x

#1985 [Common] bump umf version to include SOVERSION fix
  source/common/CMakeLists.txt
Labels: common, ready to merge, v0.10.x

#1978 [Benchmarks] allow running benchmarks for L0 v2 adapter
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/benches/compute.py
Labels: ci/cd

#1977 [L0] remove unused capture from lambda
  source/adapters/level_zero/queue.cpp
Labels: level-zero

#1976 [L0 v2] fix use-after-free
  source/adapters/level_zero/v2/event_provider_normal.cpp
Labels: level-zero

#1988 [L0 v2] fix use of device->Id
  source/adapters/level_zero/v2/event_pool.hpp
  test/adapters/level_zero/v2/event_pool_test.cpp
Labels: level-zero, v0.10.x

#1987 Add dlerror output to loader logs
  source/common/linux/ur_lib_loader.cpp
Labels: common, ready to merge, v0.10.x

#1936 Fix unintended crash in catch blocks.
  source/adapters/cuda/image.cpp
  source/adapters/cuda/memory.cpp
  source/adapters/hip/memory.cpp
Labels: images, cuda, hip, ready to merge, v0.10.x

#1984 Fix race condition in CUDA stream creation
  source/adapters/cuda/queue.cpp
Labels: cuda, ready to merge

#1986 Fix missing mutex on get_alloc_info_entry
  source/adapters/native_cpu/context.hpp
Labels: ready to merge, native-cpu, v0.10.x

#1965 [NATIVECPU] Add lock_guard when stopping threads
  source/adapters/native_cpu/threadpool.hpp
Labels: ready to merge, native-cpu, v0.10.x

#1864 [DeviceSanitizer] Support data migration for memory buffer
  source/loader/layers/sanitizer/asan_buffer.cpp
  source/loader/layers/sanitizer/asan_buffer.hpp
Labels: loader, ready to merge, sanitizer, v0.10.x

#1858 [DeviceSanitizer] Handle mem buffer is created with flag COPY_HOST_POINTER
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, ready to merge, sanitizer, v0.10.x

#1991 Clear OpenCL function pointer cache when context is released.
  source/adapters/opencl/common.hpp
  source/adapters/opencl/context.cpp
  source/adapters/opencl/extension_functions.def
Labels: command-buffer, v0.10.x

#1993 [common] Bump UMF version
  source/common/CMakeLists.txt
Labels: common

#1959 [L0 v2] implement enqueueKernelLaunch and queueFinish
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/helpers/kernel_helpers.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/level_zero/v2/usm.cpp
  source/adapters/level_zero/v2/usm.hpp
  test/adapters/level_zero/v2/event_pool_test.cpp
  test/conformance/CMakeLists.txt
  test/conformance/context/context_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero_v2.match
  test/conformance/kernel/kernel_adapter_level_zero_v2.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/queue/queue_adapter_level_zero_v2.match
  test/conformance/usm/usm_adapter_level_zero_v2.match
Labels: conformance, level-zero, command-buffer

#1989 Update e2e config
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd, level-zero

#1998 In build jobs, properly disable UR downloads
  .github/workflows/benchmarks_compute.yml
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1873 [NATIVECPU] Support UR_DEVICE_INFO_MAX_MEM_ALLOC_SIZE
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/device.hpp
Labels: ready to merge, native-cpu

#1974 [L0] remove leftover, duplicated getSuggestedLocalWorkSize implementation
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/kernel.hpp
Labels: level-zero

#1999 [L0] Fix ifdef logic
  source/adapters/level_zero/helpers/kernel_helpers.cpp
  source/adapters/level_zero/program.cpp
Labels: level-zero

#2000 [Loader] Fix xpti finalization order
  source/loader/layers/tracing/ur_tracing_layer.cpp
  source/loader/layers/tracing/ur_tracing_layer.hpp
Labels: loader, v0.10.x

#1995 Coverity fixes
  scripts/templates/valddi.cpp.mako
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/validation/ur_leak_check.hpp
  source/loader/layers/validation/ur_valddi.cpp
Labels: loader, sanitizer, v0.10.x

#2009 [UMF] Bump version to include coverity fix
  source/common/CMakeLists.txt
Labels: common

#2006 [DeviceSanitizer] Fix libstdc++ and libc++ mismatch problem
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/linux/symbolizer.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
Labels: loader, ready to merge, sanitizer, v0.10.x

#1961 [Bindless][Exp] Fix urBindlessImagesImageGetInfoExp failing with mipmap images
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge, v0.10.x

#1951 [L0] Enable Immediate Command List by default given Intel DG2
  source/adapters/level_zero/device.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge, v0.10.x

#2003 Bump version to 0.11.0 on main branch
  CMakeLists.txt
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/Doxyfile
  scripts/core/platform.yml
  scripts/parse_specs.py
  source/ur_api.cpp
Labels: specification

#2011 [OpenCL] Fix USM alignment error check to occur always and return nulllptr
  source/adapters/opencl/usm.cpp
Labels: ready to merge, v0.10.x

#2007 Add umfInit/umfTearDown to urAdapterGet/urAdapterRelease
  source/adapters/level_zero/adapter.cpp
  source/common/logger/ur_sinks.hpp
Labels: common, level-zero, v0.10.x

#2010 Update links to UR repo/tag in intel/llvm fetch file
  scripts/core/CONTRIB.rst
Labels: specification

#2030 Revert "Merge pull request #1843 from AllanZyne/review/yang/invalid_arguments"
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_report.hpp
  source/loader/layers/sanitizer/asan_validator.cpp
  source/loader/layers/sanitizer/asan_validator.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, sanitizer, v0.10.x

#2025 [L0 v2] Remove ur_shared_handle
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelRelease.cpp
Labels: conformance, level-zero

#2037 Bump to zlib version 1.3.1 used in examples
  third_party/deps.yml
Labels: v0.10.x
