Repository oneapi-src/unified-runtime, pull requests merged in 2024-04, with the labels that each got.

#1460 [HIP][CUDA] Remove function prototypes from enqueue.hpp
  source/adapters/cuda/enqueue.hpp
  source/adapters/hip/enqueue.hpp
Labels: ready to merge, v0.9.x

#1485 Add UR_ERROR_DEVICE_NOT_AVAILABLE and appropriate translation for CL.
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/common.yml
  source/adapters/opencl/common.cpp
Labels: v0.9.x

#1450 [CL] Atomic fence scope capability for Intel FPGA driver
  source/adapters/opencl/device.cpp
Labels: v0.9.x

#1432 [CTS] Don't segfault when failing to load a kernel
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/testing/include/uur/fixtures.h
Labels: ready to merge

#1347 Refactor opencl adapter to new logger
  source/adapters/opencl/adapter.cpp
  source/adapters/opencl/common.cpp
Labels: opencl, ready to merge

#1448 [OpenCL] Make extension function lookup return unusupported error
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/enqueue.cpp
  source/adapters/opencl/memory.cpp
Labels: opencl, ready to merge

#1486 [L0] Fix DeviceInfo global mem free to report unsupported given MemCount==0
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, v0.9.x

#1433 [Bindless][CUDA] Add support for cubemaps
  include/ur_api.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/sampler.cpp
  source/adapters/cuda/sampler.hpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  tools/urinfo/urinfo.hpp
Labels: specification, cuda, ready to merge, v0.9.x

#1455 [HIP] Fix memory type detection in allocation info queries and USM copy2D
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/usm.cpp
Labels: hip, ready to merge, v0.9.x

#1181 Return device total global memory for MaxAllocSize
  source/adapters/cuda/device.hpp
Labels: cuda, ready to merge

#1436 [CI] Update short fuzztest to include verbose output in CI
  .github/workflows/cmake.yml
Labels: ci/cd

#1213 [CUDA] Implement urMemImageGetInfo
  source/adapters/cuda/memory.cpp
  test/conformance/memory/memory_adapter_cuda.match
Labels: conformance, cuda, ready to merge

#1345 Refactor native cpu adapter to new logger
  source/adapters/native_cpu/adapter.cpp
  source/adapters/native_cpu/common.cpp
  source/adapters/native_cpu/common.hpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/platform.cpp
Labels: ready to merge, native-cpu

#1483 [L0] Fix regular in order command list reuse given inorder queue
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge, v0.9.x

#1359 Refactor hip adapter to new logger
  source/adapters/hip/adapter.cpp
  source/adapters/hip/common.cpp
Labels: hip, ready to merge

#1220 [CUDA] Add support for multiple active mappings
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/memory.hpp
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
Labels: conformance, cuda, ready to merge

#1506 Fix ci/cd label name in pull request labeler config
  .github/labeler.yml
Labels: ci-cd

#1440 [OPENCL] Remove EVENT_STATUS_QUEUED workaround
  source/adapters/opencl/event.cpp
Labels: opencl, ready to merge

#1508 Add a new label and entry to labeler.yml for Command Buffers.
  .github/CODEOWNERS
  .github/labeler.yml
Labels: ci/cd, command-buffer

#1478 [NATIVECPU] Initial threadpool implementation for Native CPU
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/device.hpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/nativecpu_state.hpp
  source/adapters/native_cpu/queue.cpp
  source/adapters/native_cpu/queue.hpp
  source/adapters/native_cpu/threadpool.hpp
  source/adapters/native_cpu/usm.cpp
Labels: ready to merge, native-cpu

#1357 [HIP] Check for null arg to urKernelSetArgMemObj
  source/adapters/hip/kernel.cpp
  test/conformance/enqueue/enqueue_adapter_hip.match
Labels: conformance, hip, ready to merge

#1509 Add entry for images to the labeler config
  .github/labeler.yml
Labels: ci/cd, images

#1310 [CUDA] Remove unused function variant
  source/adapters/cuda/tracing.cpp
  source/adapters/cuda/tracing.hpp
Labels: cuda, ready to merge

#1395 [HIP] Implement workaround for hipMemset2D
  source/adapters/hip/enqueue.cpp
Labels: hip, ready to merge

#1489 [NATIVECPU] Extended usm fill to bigger patterns than 1 byte
  source/adapters/native_cpu/enqueue.cpp
Labels: ready to merge, native-cpu

#1437 [HIP] Use context to get active device
  source/adapters/hip/event.cpp
Labels: hip, ready to merge

#1342 Refactor cuda adapter to new logger
  source/adapters/cuda/adapter.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/common.cpp
  source/adapters/cuda/device.cpp
Labels: cuda, ready to merge, command-buffer

#1492 [L0] Enable Disabling of Queue lock during L0 Sync calls
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.9.x

#1494 [L0] Enable USM Import/Release Exp Functions
  source/adapters/level_zero/ur_interface_loader.cpp
Labels: level-zero, ready to merge, v0.9.x

#1505 Document PR title conventions
  scripts/core/CONTRIB.rst
Labels: specification

#1507 [L0] Fix to p2p properties init for pNext and stype
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/usm_p2p.cpp
Labels: level-zero, ready to merge, v0.9.x

#1510 Fix Coverity wrapper escape issue
  source/adapters/cuda/memory.hpp
Labels: cuda, ready to merge

#1264 [Bindless][Exp] Add device queries for sampled image fetch
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/device.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, images, specification, experimental, cuda, ready to merge

#1516 disable clang build for L0 adapter tests
  .github/workflows/cmake.yml
Labels: ci/cd

#1522 Add sanitizer sources to the automatic labeler
  .github/labeler.yml
Labels: ci/cd

#1298 [L0] optimize # of event status queries through batching
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  source/common/ur_util.hpp
Labels: common, level-zero, ready to merge, v0.9.x

#1495 [L0] Add support for reading maxGroupSize from kernel prop extension
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge, v0.9.x

#1517 [L0] Store LastCommandEvent before unlock during queue sync
  source/adapters/level_zero/queue.cpp
Labels: level-zero, v0.9.x

#1032 Refactor Level Zero Adapter to use new logger
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/sampler.cpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm_p2p.cpp
  source/adapters/level_zero/virtual_mem.cpp
Labels: images, level-zero, ready to merge, command-buffer

#1243 [urinfo] Fix printing of device UUID
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/device.yml
  scripts/templates/tools-info.hpp.mako
  source/adapters/opencl/device.cpp
  tools/urinfo/urinfo.hpp
  tools/urinfo/utils.hpp
Labels: specification, opencl, ready to merge

#1358 [EXP][OpenCL] Update kernel commands in a command-buffer
  include/ur_api.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/invalid_update.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu, command-buffer

#1540 [GHA] Use `-GNinja` in nightly workflow
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1265 [Bindless][Exp] Add support for device to device copies between CuArrays
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge

#1539 [L0] reset and clean the command list on error unknown
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.9.x

#1518 [NATIVECPU] Address coverity warnings in threadpool implementation
  source/adapters/native_cpu/threadpool.hpp
Labels: ready to merge, native-cpu

#1548 [L0] Use relative includes for adapter internals
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, v0.9.x

#1370 [L0] Support for counter-based events using L0 driver
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge, command-buffer

#1550 [E2E] improve e2e workflow
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1442 [EXP][Command-Buffer] Optimize L0 command buffer submission
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/null/ur_nullddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, level-zero, ready to merge, command-buffer

#1144 [CTS] Check if images are supported before testing
  source/adapters/level_zero/device.cpp
  test/conformance/device/device_adapter_level_zero.match
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, level-zero

#1346 Add output validation checks for getInfo tests and a small USM spec fix
  include/ur_api.h
  scripts/core/program.yml
  scripts/core/usm.yml
  source/adapters/hip/program.cpp
  source/adapters/native_cpu/context.cpp
  source/adapters/null/ur_nullddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/context/urContextGetInfo.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/kernel/urKernelGetInfo.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/usm/urUSMGetMemAllocInfo.cpp
Labels: loader, conformance, specification, hip, ready to merge, native-cpu

#1487 [CTS] Add more CTS coverage for urKernelSetArgSampler
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelSetArgSampler.cpp
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/sampler/urSamplerCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/source/fixtures.cpp
Labels: conformance

#1503 [Testing] Improve "program" testing to better match the DPC++ e2e tests
  include/ur_api.h
  scripts/core/program.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/CMakeLists.txt
  test/adapters/CMakeLists.txt
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/urProgramLink.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/build_failure.cpp
  test/conformance/device_code/spec_constant.cpp
  test/conformance/device_code/spec_constant_multiple.cpp
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelGetInfo.cpp
  test/conformance/program/program_adapter_cuda.match
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/program_adapter_opencl.match
  test/conformance/program/urProgramBuild.cpp
  test/conformance/program/urProgramCreateWithBinary.cpp
  test/conformance/program/urProgramCreateWithIL.cpp
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/program/urProgramSetSpecializationConstants.cpp
  test/conformance/source/environment.cpp
Labels: ci/cd, loader, conformance, specification, ready to merge

#1556 Fix dead code in environment.cpp
  test/conformance/source/environment.cpp
Labels: conformance

#1452 [ASAN] Intercept urProgramLink in sanitizer layer
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, ready to merge, sanitizer

#1530 [GHA] Separate out hardware workflows
  .editorconfig
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  .github/workflows/examples-hw-level-zero.yml
Labels: ci/cd

#1558 [CTS] Ensure GoogleTest does not output color
  test/conformance/CMakeLists.txt
Labels: conformance

#1412 [L0][OpenCL] Emulate Fill with copy when patternSize is not a power of 2
  source/adapters/level_zero/memory.cpp
  source/adapters/opencl/usm.cpp
Labels: level-zero, opencl, ready to merge
