Repository oneapi-src/unified-runtime, pull requests merged in 2024-01, with the labels that each got.

#937 [EXP][CMDBUF] Add adapters code for Prefetch and Advise commands
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/ur_interface_loader.cpp
Labels: ready to merge

#938 [EXP][CMDBUF] Implement Fill commands for L0 adapter
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/ur_interface_loader.cpp
Labels: ready to merge

#991 [SPEC] Clarify the BinaryType output of urProgramCreateWithBinary
  include/ur_api.h
  scripts/core/program.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: specification

#1222 [UR][HIP] Fix include for AMD COMGR
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/common.hpp
  source/adapters/hip/program.cpp
Labels: ready to merge, v0.8.x

#984 [HIP] Implement ext_oneapi_queue_priority
  source/adapters/hip/queue.cpp
  source/adapters/hip/queue.hpp
Labels: ready to merge

#1027 [SYCL][HIP] Implement mem_advise for HIP
  source/adapters/hip/enqueue.cpp
Labels: ready to merge

#1129 [UR][L0] Make urPlatformGetBackendOption return -ze-opt-level=2 for -O1 and -O2
  source/adapters/level_zero/platform.cpp
Labels: ready to merge

#1208 [hip] Fix HSA headers lookup
  source/adapters/hip/CMakeLists.txt
Labels: ready to merge

#1170 [HIP] Allow custom location of ROCm components
  README.md
  source/adapters/hip/CMakeLists.txt
Labels: ready to merge

#1029 [UR] Add adapter leak-checking tests
  cmake/match.py
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/event/event_adapter_level_zero.match
  test/conformance/kernel/kernel_adapter_hip.match
  test/conformance/kernel/kernel_adapter_opencl.match
  test/conformance/memory/memory_adapter_opencl.match
  test/conformance/program/program_adapter_hip.match
  test/conformance/usm/usm_adapter_opencl.match
  test/layers/validation/CMakeLists.txt
  test/layers/validation/leaks.cpp
  test/layers/validation/leaks.out.match
  test/layers/validation/leaks_mt.out.match
Labels: ready to merge

#1035 [EXP][CMDBUF] Add support for recovering CommandBuffer profiling information
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/event.cpp
Labels: ready to merge

#1178 [HIP] Remove inline from helper
  source/adapters/hip/memory.cpp
Labels: ready to merge

#1186 [HIP] Add support for global variable read write
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/program.cpp
  source/adapters/hip/program.hpp
Labels: ready to merge

#1124 [NFC] Add utility function ur_unreachable to simplify code
  source/adapters/cuda/usm.cpp
  source/adapters/hip/usm.cpp
  source/adapters/native_cpu/kernel.cpp
  source/common/ur_util.hpp
  tools/urtrace/collector.cpp
Labels: ready to merge

#1206 Werror fixes
  CMakeLists.txt
  cmake/helpers.cmake
  source/adapters/cuda/device.cpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/program.cpp
  source/adapters/cuda/sampler.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/memory.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/native_cpu/context.cpp
  source/common/ur_util.hpp
  test/adapters/cuda/urDeviceCreateWithNativeHandle.cpp
  test/conformance/source/environment.cpp
Labels: ready to merge

#1245 [L0] Only Override max allocation limits given env
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/usm.cpp
Labels: level-zero, ready to merge, v0.8.x

#1260 [Common] Don't include Windows.h in ur_util.hpp
  source/common/CMakeLists.txt
  source/common/ur_lib_loader.hpp
  source/common/ur_util.cpp
  source/common/ur_util.hpp
  source/loader/layers/validation/backtrace_win.cpp
Labels: v0.8.x

#1257 [L0] fix waiting on non-owned native handle events
  source/adapters/level_zero/event.cpp
Labels: level-zero, v0.8.x

#1116 [loader] perform handle conversion after info queries
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/queue.yml
  scripts/templates/helper.py
  scripts/templates/ldrddi.cpp.mako
  scripts/templates/nullddi.cpp.mako
  source/adapters/null/ur_null.cpp
  source/adapters/null/ur_null.hpp
  source/adapters/null/ur_nullddi.cpp
  source/loader/ur_ldrddi.cpp
  test/loader/CMakeLists.txt
  test/loader/handles/CMakeLists.txt
  test/loader/handles/fixtures.hpp
  test/loader/handles/urLoaderHandles.cpp
Labels: ready to merge

#1070 [CUDA] Dynamically load the CUPTI library when tracing
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/adapter.cpp
  source/adapters/cuda/tracing.cpp
  source/adapters/cuda/tracing.hpp
  source/common/ur_lib_loader.hpp
Labels: ready to merge

#1269 [CTS] Initial port of old PI tests to UR CTS
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
  test/conformance/enqueue/urEnqueueMemBufferRead.cpp
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/urMemBufferCreate.cpp
Labels: conformance, ready to merge

#1271 Fix memory leak in UR CTS tests
  source/adapters/opencl/context.cpp
  source/adapters/opencl/sampler.cpp
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/enqueue/urEnqueueEventsWait.cpp
  test/conformance/enqueue/urEnqueueEventsWaitWithBarrier.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopy.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopyRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferFill.cpp
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
  test/conformance/enqueue/urEnqueueMemBufferRead.cpp
  test/conformance/enqueue/urEnqueueMemBufferReadRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferWrite.cpp
  test/conformance/enqueue/urEnqueueMemBufferWriteRect.cpp
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/enqueue/urEnqueueMemImageRead.cpp
  test/conformance/enqueue/urEnqueueMemImageWrite.cpp
  test/conformance/enqueue/urEnqueueMemUnmap.cpp
  test/conformance/enqueue/urEnqueueReadHostPipe.cpp
  test/conformance/enqueue/urEnqueueUSMPrefetch.cpp
  test/conformance/enqueue/urEnqueueWriteHostPipe.cpp
  test/conformance/memory/urMemBufferPartition.cpp
  test/conformance/queue/urQueueFinish.cpp
  test/conformance/queue/urQueueFlush.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
  test/conformance/usm/urUSMFree.cpp
Labels: conformance, ready to merge

#1266 Fix device CTS tests for retain/release
  test/conformance/device/urDeviceRelease.cpp
  test/conformance/device/urDeviceRetain.cpp
Labels: conformance

#1152 [NATIVECPU] Handle oneAPI Construction Kit integration in runtime
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/nativecpu_state.hpp
Labels: ready to merge

#1247 [NATIVECPU] Empty implementation for command buffer fill
  source/adapters/native_cpu/command_buffer.cpp
Labels: ready to merge

#1277 [L0] fix coverity issues
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/kernel.hpp
  source/adapters/level_zero/program.cpp
Labels: level-zero, v0.8.x

#1205 [UR] add dependent-load flag to exclude CWD from default search path …
  source/adapters/level_zero/CMakeLists.txt
Labels: level-zero, v0.8.x

#1289 [L0] Fix native kernel usage, multi device kernel pointer and WorkSize
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/program.cpp
Labels: level-zero, v0.8.x

#1262 [CI] Add CI config for Native CPU
  .github/workflows/cmake.yml
  test/conformance/adapter/adapter_adapter_native_cpu.match
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/platform/platform_adapter_native_cpu.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_native_cpu.match
  test/conformance/virtual_memory/virtual_memory_adapter_native_cpu.match
Labels: ci/cd, native-cpu

#1233 [CTS] Add more USM testing
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/usm_ll.cpp
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/helpers.h
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
  test/conformance/testing/source/utils.cpp
Labels: conformance

#1104 [CUDA] Fix synchronization issue in urEnqueueMemImageCopy
  source/adapters/cuda/enqueue.cpp
Labels: ready to merge

#1168 [Bindless][CUDA] Unique addressing modes per dimension
  source/adapters/cuda/image.cpp
  source/adapters/cuda/sampler.cpp
  source/adapters/cuda/sampler.hpp
Labels: ready to merge

#1278 [CTS] Fix uninitialized variables
  test/conformance/device/urDevicePartition.cpp
  test/conformance/device/urDeviceRelease.cpp
  test/conformance/device/urDeviceRetain.cpp
  test/conformance/event/urEventWait.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
Labels: conformance

#1226 [UR] Add extra param to urMemGetNativeHandle
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/memory.yml
  source/adapters/cuda/memory.cpp
  source/adapters/hip/memory.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/native_cpu/memory.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/memory.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/memory_adapter_hip.match
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemGetNativeHandle.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
Labels: ready to merge
