Repository oneapi-src/unified-runtime, pull requests merged in 2024-05, with the labels that each got.

#1535 [Bindless][Exp] Add device queries for sampled image fetch
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/device.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, images, specification, experimental, cuda, ready to merge

#1526 [L0] Enable Batching out of order commands without signal events
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: images, level-zero, ready to merge, v0.9.x, command-buffer

#1566 Update CODEOWNERS to include test directories
  .github/CODEOWNERS
Labels: ci/cd

#1571 [CTS] Replace use of deprecated <CL/sycl.hpp>
  test/conformance/device_code/bar.cpp
  test/conformance/device_code/fill.cpp
  test/conformance/device_code/fill_2d.cpp
  test/conformance/device_code/fill_3d.cpp
  test/conformance/device_code/fill_usm.cpp
  test/conformance/device_code/foo.cpp
  test/conformance/device_code/image_copy.cpp
  test/conformance/device_code/indexers_usm.cpp
  test/conformance/device_code/mean.cpp
  test/conformance/device_code/saxpy.cpp
  test/conformance/device_code/saxpy_usm.cpp
Labels: conformance

#1570 [CTS] Allow users to pass build flags to DPC++
  CMakeLists.txt
  README.md
  test/conformance/device_code/CMakeLists.txt
Labels: conformance

#1574 [CTS] Allow disabling the use of match files
  CMakeLists.txt
  README.md
  test/conformance/CMakeLists.txt
Labels: conformance

#1546 fix queue locking behavior when creating event lists
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.9.x

#1549 Fix adding event to queue cache
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/queue.cpp
  test/adapters/CMakeLists.txt
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/event_cache_tests.cpp
  test/adapters/level_zero/zeCallMap.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, level-zero, ready to merge, v0.9.x

#1555 stop batching multiple CmdList execution when waiting for barriers
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.9.x

#1457 [l0][HIP][CUDA] Prefer values over pointers-to
  source/adapters/cuda/usm.cpp
  source/adapters/cuda/usm.hpp
  source/adapters/hip/usm.cpp
  source/adapters/hip/usm.hpp
  source/adapters/level_zero/usm.cpp
Labels: level-zero, cuda, hip, ready to merge

#1575 [Loader] Add Native CPU to adapter registry
  source/loader/ur_adapter_registry.hpp
Labels: loader

#1335 [CTS] Add extra tests for Queues
  test/conformance/CMakeLists.txt
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/cpy_and_mult.cpp
  test/conformance/device_code/cpy_and_mult_usm.cpp
  test/conformance/device_code/multiply.cpp
  test/conformance/integration/CMakeLists.txt
  test/conformance/integration/QueueBuffer.cpp
  test/conformance/integration/QueueEmptyStatus.cpp
  test/conformance/integration/QueueUSM.cpp
  test/conformance/integration/fixtures.h
  test/conformance/integration/integration_adapter_cuda.match
  test/conformance/integration/integration_adapter_hip.match
  test/conformance/integration/integration_adapter_level_zero.match
  test/conformance/integration/integration_adapter_native_cpu.match
  test/conformance/integration/integration_adapter_opencl.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/queue/urQueueCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance

#1578 Revert "stop batching multiple CmdList execution when waiting for barriers"
  source/adapters/level_zero/event.cpp
Labels: level-zero

#1579 [CTS] Fix typo in add_test_adapter()
  test/conformance/CMakeLists.txt
Labels: conformance

#1513 Fix some minor bugs in L0 urDeviceGetInfo revealed by PI->UR port
  source/adapters/level_zero/device.cpp
  test/conformance/device/device_adapter_level_zero.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#1499 [EXP][Command-Buffer] Remove duplicated code from headers
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.hpp
Labels: cuda, hip, ready to merge, command-buffer

#1576 Improve CTS device code generation
  README.md
  test/conformance/device_code/CMakeLists.txt
  test/conformance/program/urProgramBuild.cpp
  test/conformance/program/urProgramCreateWithIL.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance

#1400 [UR][L0][CUDA][HIP] Add enqueue timestamp recording extension
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-ENQUEUE-TIMESTAMP-RECORDING.rst
  scripts/core/exp-enqueue-timestamp-recording.yml
  scripts/core/registry.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/event.cpp
  source/adapters/cuda/event.hpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/event.cpp
  source/adapters/hip/event.hpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/event.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/event.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/enqueue/CMakeLists.txt
  test/conformance/enqueue/urEnqueueTimestampRecording.cpp
  test/conformance/testing/include/uur/utils.h
  test/conformance/testing/source/utils.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#1588 [CUDA] Add back device info enums after merge mistake
  source/adapters/cuda/device.cpp
Labels: cuda

#1585 fix queue-wide barriers with multiple active command queues
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.9.x

#1591 [L0] Disable Usage of Driver In order Lists by default
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, v0.9.x

#1593 [CL] Update device CTS match file
  .github/scripts/get_system_info.sh
  source/adapters/opencl/device.cpp
  test/conformance/device/device_adapter_opencl.match
Labels: ci/cd, conformance

#1595 [NFC] Remove unnecessary semicolon
  source/common/ur_util.hpp
Labels: common

#1532 [DeviceSanitizer] Check out-of-bounds on sycl::local_accessor
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, ready to merge, sanitizer

#1599 [CI] Change docker linter from hadolint to trivy
  .github/docker/ubuntu-22.04.Dockerfile
  .github/workflows/hadolint.yml
  .github/workflows/trivy.yml
  .trivyignore
Labels: ci/cd

#1559 Fix CTS test for HIP accessors
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
Labels: conformance, hip, ready to merge, command-buffer

#1562 [HIP] Add a workaround for crashes on gfx1031
  source/adapters/hip/device.cpp
Labels: hip, ready to merge

#1376 Document adapter logging environment variables
  scripts/core/INTRO.rst
Labels: specification

#1477 [NATIVECPU] Support reqd_work_group_size on Native CPU
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/program.cpp
  source/adapters/native_cpu/program.hpp
Labels: ready to merge, native-cpu

#1596 [CUDA] Change `bool` variable type to `unsigned int`
  source/adapters/cuda/usm.cpp
Labels: cuda, ready to merge

#1592 [L0] Fix timestamp event evict after delete
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge

#1545 Implement Queue Flush operation
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge

#1612 add level zero e2e workflow
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
  README.md
Labels: ci/cd, level-zero

#1553 [HIP] Get device from queue, not event
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/event.hpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/memory.hpp
Labels: hip, ready to merge

#1611 [L0] ensure a valid kernel handle for the device when reading max wg
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge, v0.9.x

#1534 [DeviceSanitizer] Add options to allow user to customize red zone size
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.hpp
Labels: loader, ready to merge, sanitizer

#1624 [CI] Fix E2E workflow
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1627 reduce number of workers for the L0 E2E job
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#954 [HIP] Handle required wg size attribute in HIP
  source/adapters/cuda/program.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/kernel.hpp
  source/adapters/hip/program.cpp
  source/adapters/hip/program.hpp
  source/adapters/native_cpu/program.cpp
  source/common/ur_util.hpp
Labels: common, cuda, hip, ready to merge, native-cpu

#1401 [UR][L0] Return device version based on DeviceIpVersion
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge

#1644 fix passing LLVM LIT arguments in workflows
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#1565 [CUDA] CUDA adapter multi device context
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/context.cpp
  source/adapters/cuda/context.hpp
  source/adapters/cuda/device.cpp
  source/adapters/cuda/device.hpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/event.cpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/cuda/memory.cpp
  source/adapters/cuda/memory.hpp
  source/adapters/cuda/physical_mem.cpp
  source/adapters/cuda/physical_mem.hpp
  source/adapters/cuda/platform.cpp
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
  source/adapters/cuda/queue.cpp
  source/adapters/cuda/queue.hpp
  source/adapters/cuda/usm.cpp
  source/adapters/cuda/usm_p2p.cpp
  source/adapters/cuda/virtual_mem.cpp
  test/adapters/cuda/context_tests.cpp
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/program/program_adapter_cuda.match
  test/conformance/queue/urQueueCreate.cpp
  test/conformance/source/environment.cpp
Labels: conformance, images, cuda, ready to merge, command-buffer

#1642 [CMake] Parse kernel names using integration header rather than IR
  scripts/generate_kernel_header.py
  test/conformance/device_code/CMakeLists.txt
Labels: conformance

#1500 Add more coverage to CTS tests in various areas
  test/conformance/context/context_adapter_cuda.match
  test/conformance/context/context_adapter_hip.match
  test/conformance/context/context_adapter_level_zero.match
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/device/device_adapter_cuda.match
  test/conformance/device/device_adapter_hip.match
  test/conformance/device/device_adapter_level_zero.match
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/device/device_adapter_opencl.match
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDevicePartition.cpp
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/event/urEventCreateWithNativeHandle.cpp
  test/conformance/kernel/kernel_adapter_hip.match
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/platform/platform_adapter_cuda.match
  test/conformance/platform/platform_adapter_hip.match
  test/conformance/platform/platform_adapter_native_cpu.match
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformGet.cpp
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/urProgramCreateWithNativeHandle.cpp
  test/conformance/queue/urQueueCreateWithNativeHandle.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
Labels: conformance

#1633 [CTS] Update CUDA and HIP match files
  test/conformance/integration/integration_adapter_hip.match
  test/conformance/kernel/kernel_adapter_cuda.match
  test/conformance/kernel/kernel_adapter_hip.match
Labels: conformance, ready to merge

#1616 add compute benchmark workflow for L0
  .github/scripts/compute_benchmarks.py
  .github/workflows/benchmarks_core.yml
  .github/workflows/benchmarks_level_zero.yml
Labels: ci/cd

#1619 Fix validation for urEnqueueTimestampRecordingExpTest
  include/ur_api.h
  scripts/core/exp-enqueue-timestamp-recording.yml
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, ready to merge

#1501 [Testing] Spec clarifications and testing updates for kernel
  include/ur_api.h
  scripts/core/enqueue.yml
  scripts/core/kernel.yml
  source/adapters/opencl/common.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/fixed_wg_size.cpp
  test/conformance/device_code/standard_types.cpp
  test/conformance/device_code/subgroup.cpp
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/kernel/kernel_adapter_cuda.match
  test/conformance/kernel/kernel_adapter_hip.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelGetGroupInfo.cpp
  test/conformance/kernel/urKernelGetSubGroupInfo.cpp
Labels: loader, conformance, specification, opencl, ready to merge

#1649 [HIP] Add support for multiple active mappings
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/memory.hpp
  test/conformance/enqueue/enqueue_adapter_hip.match
Labels: conformance, hip

#1658 [CTS][CUDA][HIP] Skip invalid kernel argument test
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
Labels: conformance

#1652 [CTS] Fix UR_CONFORMANCE_ENABLE_MATCH_FILES=OFF
  test/conformance/CMakeLists.txt
Labels: conformance

#1569 [L0] Fix usm allocation functions when alignment is not a power of 2
  source/adapters/level_zero/usm.cpp
Labels: level-zero, ready to merge

#1656 fix leaks on level-zero interop program and kernel handles
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/program.cpp
  test/adapters/CMakeLists.txt
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/level_zero_memcheck.match
  test/adapters/level_zero/urKernelCreateWithNativeHandle.cpp
  test/adapters/level_zero/urProgramLink.cpp
Labels: level-zero, ready to merge, v0.9.x

#1659 [GHA] Enable adapter logging in HW jobs
  .github/workflows/build-hw-reusable.yml
Labels: ci/cd

#1648 Add ability to log from the tracing layer directly rather than use XPTI
  scripts/core/INTRO.rst
  scripts/templates/trcddi.cpp.mako
  source/common/logger/ur_logger.hpp
  source/common/logger/ur_logger_details.hpp
  source/common/logger/ur_sinks.hpp
  source/loader/layers/tracing/ur_tracing_layer.cpp
  source/loader/layers/tracing/ur_tracing_layer.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
  test/layers/tracing/CMakeLists.txt
  test/layers/tracing/hello_world.out.logged.match
Labels: loader, common, specification

#1655 [CTS] Skip spec constants tests for HIP
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/urProgramSetSpecializationConstants.cpp
Labels: conformance, ready to merge

#1651 Ensure a consistent line-endings policy
  .gitattributes
  source/adapters/level_zero/ur_level_zero.cpp
  source/adapters/level_zero/ur_level_zero.hpp
  source/ur/ur.cpp
  source/ur/ur.hpp
Labels: level-zero

#1581 Implement L0 cooperative kernel functions
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge

#1643 [EXP][CUDA] Add initial version of (kernel) Launch Properties extension.
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-LAUNCH-PROPERTIES.rst
  scripts/core/exp-launch-properties.yml
  scripts/core/registry.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/CMakeLists.txt
  test/conformance/exp_launch_properties/CMakeLists.txt
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_cuda.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_hip.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_native_cpu.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_opencl.match
  test/conformance/exp_launch_properties/launch_properties.cpp
Labels: loader, conformance, specification, experimental, cuda, ready to merge

#1657 [CTS] Fix image test resource leak
  test/conformance/memory/urMemImageCreate.cpp
Labels: conformance

#1662 [HIP] Remove {{OPT}} from most matches
  test/conformance/device/device_adapter_hip.match
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/kernel/kernel_adapter_hip.match
  test/conformance/memory/memory_adapter_hip.match
  test/conformance/usm/usm_adapter_hip.match
Labels: conformance

#1631 [CTS] Fix virtual mem enqueue test
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
Labels: conformance, ready to merge

#1666 Fix level zero specific test
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/event_cache_tests.cpp
Labels: conformance, ready to merge

#1667 [UR] Fix Multi Device Event Cache for shared Root Device
  source/adapters/level_zero/event.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/multi_device_event_cache_tests.cpp
Labels: level-zero, v0.9.x

#1683 [HIP] Add {{OPT}} to flaky failure
  test/conformance/enqueue/enqueue_adapter_hip.match
Labels: conformance

#1604 [HIP] Implement kernel set spec constant query
  source/adapters/hip/device.cpp
  test/conformance/kernel/kernel_adapter_hip.match
Labels: conformance, hip, ready to merge

#1603 [OpenCL] Modify fill emulation to work for patterns which are not powers of 2
  source/adapters/opencl/usm.cpp
Labels: opencl, ready to merge

#1654 Debug logging in Level Zero command-buffer update
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer

#1690 [Test] Add UUID to device name
  test/conformance/testing/include/uur/utils.h
Labels: conformance

#1533 [DeviceSanitizer] Support detecting out-of-bounds errors on sycl::buffer
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_buffer.cpp
  source/loader/layers/sanitizer/asan_buffer.hpp
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, ready to merge, sanitizer

#1691 Add support for comments in match files
  cmake/match.py
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/program/program_adapter_hip.match
Labels: conformance

#1318 [CUDA] Use appropriate return code for out of registers kernel launch
  source/adapters/cuda/enqueue.cpp
Labels: cuda, ready to merge
