Repository oneapi-src/unified-runtime, pull requests merged in 2024-07, with the labels that each got.

#1793 [UR] Update L0 loader to v1.17.6
  source/adapters/level_zero/CMakeLists.txt
Labels: level-zero, ready to merge

#1696 [L0] Support for Bindless Image Import
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/image.cpp
Labels: images, level-zero, ready to merge

#1771 [L0] Initial version of queue dispatcher
  scripts/generate_code.py
  scripts/json2src.py
  scripts/templates/helper.py
  scripts/templates/queue_api.cpp.mako
  scripts/templates/queue_api.hpp.mako
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/queue_api.cpp
  source/adapters/level_zero/queue_api.hpp
  source/adapters/level_zero/v2/queue_factory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
Labels: images, level-zero, ready to merge, command-buffer

#1817 Update contribution guide links to intel/llvm UR CMakeLists.txt
  scripts/core/CONTRIB.rst
Labels: specification

#1212 Batch adapter changes: spec motivated refactors
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/common.yml
  scripts/core/device.yml
  scripts/core/kernel.yml
  scripts/core/memory.yml
  scripts/core/program.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/cuda/memory.cpp
  source/adapters/cuda/program.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/kernel.hpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/program.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/program.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/kernel/kernel_adapter_level_zero.match
  test/conformance/kernel/kernel_adapter_opencl.match
  test/conformance/kernel/urKernelGetInfo.cpp
  test/conformance/kernel/urKernelSetArgLocal.cpp
  test/conformance/kernel/urKernelSetArgMemObj.cpp
  test/conformance/kernel/urKernelSetArgPointer.cpp
  test/conformance/kernel/urKernelSetArgSampler.cpp
  test/conformance/kernel/urKernelSetArgValue.cpp
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/program/program_adapter_level_zero.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/program_adapter_opencl.match
  test/conformance/program/urProgramGetFunctionPointer.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu, command-buffer, sanitizer

#1720 Add [release] tag to parameters where appropriate.
  include/ur_api.h
  scripts/YaML.md
  scripts/core/adapter.yml
  scripts/core/context.yml
  scripts/core/device.yml
  scripts/core/event.yml
  scripts/core/exp-bindless-images.yml
  scripts/core/exp-command-buffer.yml
  scripts/core/kernel.yml
  scripts/core/loader.yml
  scripts/core/memory.yml
  scripts/core/program.yml
  scripts/core/queue.yml
  scripts/core/sampler.yml
  scripts/core/usm.yml
  scripts/core/virtual_memory.yml
  scripts/templates/ldrddi.cpp.mako
  source/adapters/null/ur_nullddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, command-buffer

#1802 [L0] Fix immediate command list use in Command Queues
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: level-zero, ready to merge

#1427 [CI] Fix kernel execution in fuzztests and run fuzztests on L0 in CI
  .github/workflows/build-fuzz-reusable.yml
  .github/workflows/cmake.yml
  .github/workflows/nightly.yml
  source/adapters/level_zero/CMakeLists.txt
  test/fuzz/CMakeLists.txt
  test/fuzz/urFuzz.cpp
  test/fuzz/utils.hpp
Labels: ci/cd, loader, level-zero, ready to merge

#1587 Change ur_native_handle_t to be uintptr_t
  include/ur_api.h
  include/ur_print.hpp
  scripts/templates/api.h.mako
  scripts/templates/helper.py
  scripts/templates/print.hpp.mako
  source/adapters/cuda/device.cpp
  source/adapters/cuda/memory.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/opencl/queue.cpp
  source/adapters/opencl/sampler.cpp
  source/common/ur_pool_manager.hpp
  test/adapters/cuda/context_tests.cpp
  test/adapters/cuda/urContextGetNativeHandle.cpp
  test/adapters/cuda/urEventGetNativeHandle.cpp
  test/adapters/hip/urContextGetNativeHandle.cpp
  test/adapters/hip/urEventGetNativeHandle.cpp
  test/adapters/level_zero/multi_device_event_cache_tests.cpp
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/context/urContextGetNativeHandle.cpp
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceGetNativeHandle.cpp
  test/conformance/event/urEventCreateWithNativeHandle.cpp
  test/conformance/event/urEventGetNativeHandle.cpp
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
  test/conformance/kernel/urKernelGetNativeHandle.cpp
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemGetNativeHandle.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformGetNativeHandle.cpp
  test/conformance/program/urProgramCreateWithNativeHandle.cpp
  test/conformance/program/urProgramGetNativeHandle.cpp
  test/conformance/queue/urQueueCreateWithNativeHandle.cpp
  test/conformance/queue/urQueueGetNativeHandle.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
  test/conformance/sampler/urSamplerGetNativeHandle.cpp
Labels: common, conformance, level-zero, cuda, hip, ready to merge

#1827 [CI] Re-enable windows Release build
  .github/workflows/cmake.yml
Labels: ci/cd

#1786 [L0] Return success on enable/disable p2p.
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/usm_p2p.cpp
Labels: level-zero, hip, ready to merge

#1807 [L0] Add missing check for WorkDim to KernelLaunch funcs
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge

#1809 [L0] Fix Device Info return code to report unsupported enumeration
  source/adapters/level_zero/device.cpp
  test/conformance/device/device_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#1775 Refactor Level Zero Command-Buffer implementation
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: level-zero, ready to merge, command-buffer

#1806 [UR][L0] Fix undefined behavior caused by shifting more than bits count
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge

#1813 Test v2 L0 adapter using CTS
  source/adapters/level_zero/v2/queue_factory.hpp
  test/conformance/CMakeLists.txt
  test/conformance/adapter/adapter_adapter_level_zero-v2.match
  test/conformance/context/context_adapter_level_zero-v2.match
  test/conformance/device/device_adapter_level_zero-v2.match
  test/conformance/enqueue/enqueue_adapter_level_zero-v2.match
  test/conformance/event/event_adapter_level_zero-v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero-v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero-v2.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_level_zero-v2.match
  test/conformance/integration/integration_adapter_level_zero-v2.match
  test/conformance/kernel/kernel_adapter_level_zero-v2.match
  test/conformance/memory-migrate/memory-migrate_adapter_level_zero-v2.match
  test/conformance/memory/memory_adapter_level_zero-v2.match
  test/conformance/platform/platform_adapter_level_zero-v2.match
  test/conformance/program/program_adapter_level_zero-v2.match
  test/conformance/queue/queue_adapter_level_zero-v2.match
  test/conformance/sampler/sampler_adapter_level_zero-v2.match
  test/conformance/usm/usm_adapter_level_zero-v2.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero-v2.match
Labels: conformance, images, level-zero, ready to merge

#1814 [L0] Fix Queue get info and fix Queue release decrement
  source/adapters/level_zero/queue.cpp
  test/conformance/queue/queue_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#1838 fix incorrect test name in a match file
  test/conformance/device/device_adapter_level_zero-v2.match
  test/conformance/program/program_adapter_level_zero-v2.match
Labels: conformance

#1822 [cuda][bindless_images][2025.0 req] Fix for cuda < 11.6 support.
  include/ur_api.h
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/image.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, cuda, ready to merge

#1845 Remove the power of 2 pattern size requirement from USMFill
  include/ur_api.h
  scripts/core/enqueue.yml
  scripts/core/exp-command-buffer.yml
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, ready to merge, command-buffer

#1458 [UR] Improve handling of error cases in urProgramLink
  include/ur_api.h
  scripts/core/exp-multi-device-compile.yml
  scripts/core/program.yml
  scripts/templates/helper.py
  scripts/templates/ldrddi.cpp.mako
  scripts/templates/libapi.cpp.mako
  scripts/templates/nullddi.cpp.mako
  scripts/templates/trcddi.cpp.mako
  scripts/templates/valddi.cpp.mako
  source/adapters/cuda/program.cpp
  source/adapters/hip/program.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/native_cpu/program.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/program.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/linker_error.cpp
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/urProgramLink.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#1846 Make phEvent optional in urEnqueueNativeCommandExp
  include/ur_api.h
  scripts/core/EXP-NATIVE-ENQUEUE.rst
  scripts/core/enqueue.yml
  scripts/core/exp-native-enqueue.yml
  source/adapters/null/ur_nullddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, ready to merge

#1816 [L0] Use Intel Level Zero Driver String extension
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: level-zero, ready to merge

#1805 [Testing] extend test names to include device id
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_native_cpu.match
  test/conformance/integration/integration_adapter_native_cpu.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/testing/include/uur/utils.h
  test/conformance/usm/usm_adapter_native_cpu.match
Labels: conformance, ready to merge

#1829 Treat bindless images handle types as native handles
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  scripts/parse_specs.py
  scripts/templates/print.hpp.mako
  source/adapters/cuda/image.cpp
  source/adapters/cuda/image.hpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/image.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#1854 Fix CUDA Windows build
  source/adapters/cuda/device.cpp
  test/adapters/cuda/urDeviceCreateWithNativeHandle.cpp
Labels: cuda

#1747 [DeviceSanitizer] Support detecting misaligned access error
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_report.hpp
Labels: loader, ready to merge, sanitizer

#1772 add DEPENDENTLOADFLAG linker flag on Windows
  cmake/helpers.cmake
Labels: ready to merge

#1848 [UR] Update some incorrect CL_RETURN_ON_FAILURE
  source/adapters/opencl/device.cpp
  source/adapters/opencl/program.cpp
  source/adapters/opencl/sampler.cpp
Labels: ready to merge

#1849 [OpenCL] Add extension check for sub group sizes query
  source/adapters/opencl/device.cpp
Labels: ready to merge

#1826 refactor loader lifetime management
  scripts/templates/ldrddi.cpp.mako
  scripts/templates/ldrddi.hpp.mako
  scripts/templates/libapi.cpp.mako
  scripts/templates/libddi.cpp.mako
  scripts/templates/trcddi.cpp.mako
  scripts/templates/ur_api.hpp.mako
  scripts/templates/valddi.cpp.mako
  source/common/ur_singleton.hpp
  source/common/ur_util.hpp
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan_allocator.cpp
  source/loader/layers/sanitizer/asan_buffer.cpp
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_shadow_setup.cpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/linux/sanitizer_utils.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.hpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/tracing/ur_tracing_layer.cpp
  source/loader/layers/tracing/ur_tracing_layer.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/ur_proxy_layer.hpp
  source/loader/layers/validation/ur_leak_check.hpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/layers/validation/ur_validation_layer.cpp
  source/loader/layers/validation/ur_validation_layer.hpp
  source/loader/linux/lib_init.cpp
  source/loader/linux/loader_init.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_lib.cpp
  source/loader/ur_lib.hpp
  source/loader/ur_libapi.cpp
  source/loader/ur_libddi.cpp
  source/loader/ur_loader.cpp
  source/loader/ur_loader.hpp
  source/loader/ur_object.hpp
  source/loader/windows/lib_init.cpp
  source/loader/windows/loader_init.cpp
  test/fuzz/CMakeLists.txt
  test/fuzz/urFuzz.cpp
  test/loader/loader_lifetime/CMakeLists.txt
  test/loader/loader_lifetime/mixed.cpp
  test/loader/loader_lifetime/urLoaderInit.cpp
Labels: loader, common, ready to merge, sanitizer

#1828 Add a workaround for urEnqueue loader problems with ADAPTER_SPECIFIC
  scripts/templates/ldrddi.cpp.mako
  source/loader/ur_ldrddi.cpp
Labels: loader, ready to merge

#1852 [L0] Use all devices from a context in urProgramBuild
  source/adapters/level_zero/program.cpp
  test/conformance/kernel/urKernelCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, level-zero, ready to merge

#1841 [L0 v2] Add readme
  source/adapters/level_zero/v2/README.md
Labels: level-zero

#1862 [ASAN] fix recursive initialization of sanitizer context
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
Labels: loader, sanitizer

#1866 Handle CUDA_ERROR_NO_DEVICE returned from cuInit()
  source/adapters/cuda/platform.cpp
Labels: cuda, ready to merge

#1868 Fix mock on Windows, add logging of adapter load/unload
  source/adapters/mock/ur_mock.cpp
  source/common/windows/ur_lib_loader.cpp
  source/loader/ur_adapter_registry.hpp
  test/loader/platforms/null_platform.match
Labels: loader, common, ready to merge

#1743 [Bindless][Exp] Add const-qualifier to Src param in urBindlessImagesImageCopyExp
  include/ur_api.h
  include/ur_ddi.h
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/image.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/queue_api.cpp
  source/adapters/level_zero/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/opencl/image.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#1855 [Bindless][Exp] Rename external semaphore destroy func to release
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  scripts/core/registry.yml
  source/adapters/cuda/image.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/image.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#1871 Return the correct type for native CPU USM device queries.
  source/adapters/native_cpu/device.cpp
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_native_cpu.match
Labels: conformance, native-cpu

#1870 update L0 E2E failing tests
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#1801 [L0 v2] Implement command list initialization
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/queue_factory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/CMakeLists.txt
  test/adapters/level_zero/v2/command_list_cache_test.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero-v2.match
  test/conformance/event/event_adapter_level_zero-v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero-v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero-v2.match
  test/conformance/kernel/kernel_adapter_level_zero-v2.match
  test/conformance/program/program_adapter_level_zero-v2.match
  test/conformance/queue/queue_adapter_level_zero-v2.match
  test/conformance/usm/usm_adapter_level_zero-v2.match
Labels: conformance, level-zero, ready to merge

#1768 [L0] Enable default support for L0 in-order lists
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, command-buffer

#1803 [CUDA][L0][Bindless] update design of urBindlessImagesImageCopyExp
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/image.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/queue_api.cpp
  source/adapters/level_zero/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/opencl/image.cpp
  source/common/stype_map_helpers.def
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, common, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#1876 generalize benchmark script, add more benchmarks
  .github/scripts/compute_benchmarks.py
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/README.md
  scripts/benchmarks/benches/SobelFilter.py
  scripts/benchmarks/benches/api_overhead.py
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/bitcracker.py
  scripts/benchmarks/benches/cudaSift.py
  scripts/benchmarks/benches/easywave.py
  scripts/benchmarks/benches/hashtable.py
  scripts/benchmarks/benches/options.py
  scripts/benchmarks/benches/quicksilver.py
  scripts/benchmarks/benches/result.py
  scripts/benchmarks/benches/velocity.py
  scripts/benchmarks/main.py
  scripts/benchmarks/output.py
  scripts/benchmarks/utils/utils.py
  third_party/requirements.txt
Labels: ci/cd

#1867 initial v2 event pool implementation
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/event_pool_cache.cpp
  source/adapters/level_zero/v2/event_pool_cache.hpp
  source/adapters/level_zero/v2/event_provider.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_counter.hpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
  test/adapters/level_zero/v2/CMakeLists.txt
  test/adapters/level_zero/v2/event_pool_test.cpp
Labels: level-zero

#1857 [Testing] Handle multi-device and PVC test failures
  .github/workflows/multi_device.yml
  test/conformance/cts_exe.py
  test/conformance/memory/memory_adapter_level_zero-v2.match
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/sampler/sampler_adapter_level_zero-v2.match
  test/conformance/sampler/sampler_adapter_level_zero.match
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/sampler/urSamplerCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
  test/conformance/usm/usm_adapter_level_zero-v2.match
Labels: ci/cd, conformance, ready to merge

#1795 [Bindless][Exp] Update device_info enum elements and update Level Zero and CUDA backend device_info supported features
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/device.cpp
  source/adapters/level_zero/device.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, images, specification, experimental, level-zero, cuda, ready to merge

#1885 [Testing] Disable failing multi-device test on L0
  .github/workflows/multi_device.yml
Labels: ci/cd

#1791 Make urKernelCreateWithNativeHandle's program param optional.
  include/ur_api.h
  scripts/core/kernel.yml
  source/adapters/level_zero/kernel.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/adapters/level_zero/urKernelCreateWithNativeHandle.cpp
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
Labels: loader, conformance, specification, level-zero

#1856 Make urContextCreateWithNativeHandle work for SYCL use with loader
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/context.yml
  scripts/core/queue.yml
  source/adapters/cuda/context.cpp
  source/adapters/hip/context.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/context.cpp
  source/adapters/opencl/context.cpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, level-zero, cuda, hip, native-cpu, sanitizer

#1878 [DeviceSanitizer] Extend a variable lifetime to fix a flaky failure
  source/loader/layers/sanitizer/asan_interceptor.cpp
Labels: loader, sanitizer

#1887 Update L0 E2E workflow
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#1521 [DeviceSanitizer] Support GPU DG2 & GEN Device
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_shadow_setup.cpp
  source/loader/layers/sanitizer/asan_shadow_setup.hpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, ready to merge, sanitizer, v0.10.x

#1889 fix sampler test fixture
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance

#1872 Revert use of ACCESSED_BY for managed memory
  source/adapters/cuda/usm.cpp
Labels: cuda, ready to merge, v0.10.x

#1875 Add option to build loader as a static library
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  CMakeLists.txt
  source/common/CMakeLists.txt
  source/loader/CMakeLists.txt
Labels: ci/cd, loader, common, v0.10.x

#1891 Introduce more loader logging
  source/common/linux/ur_lib_loader.cpp
  source/loader/ur_lib.cpp
Labels: loader, common, v0.10.x

#1895 run E2E tests on loader (and layer) changes
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1430 Bump UMF version and switch to dynamic linking
  .github/docker/ubuntu-22.04.Dockerfile
  .github/scripts/install_hwloc.sh
  .github/workflows/cmake.yml
  .github/workflows/codeql.yml
  .github/workflows/coverity.yml
  CMakeLists.txt
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/usm.cpp
  source/adapters/cuda/usm.hpp
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/usm.cpp
  source/adapters/hip/usm.hpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm.hpp
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/opencl/CMakeLists.txt
  source/common/CMakeLists.txt
  source/common/umf_helpers.hpp
  test/adapters/cuda/CMakeLists.txt
  test/adapters/hip/CMakeLists.txt
  test/adapters/level_zero/v2/CMakeLists.txt
  test/conformance/device/device_adapter_level_zero-v2.match
  test/conformance/device/device_adapter_level_zero.match
  test/usm/CMakeLists.txt
Labels: ci/cd, common, conformance, level-zero, cuda, hip, opencl, ready to merge, native-cpu, v0.10.x

#1900 Bump UMF version
  source/common/CMakeLists.txt
Labels: common

#1903 Bump UMF version again
  source/common/CMakeLists.txt
Labels: common

#1905 Bump UMF version to allow disabling hwloc
  source/common/CMakeLists.txt
Labels: common

#1897 [L0] Enable Counter Based Events by default for immediate command lists
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.10.x

#1844 [DeviceSanitizer] Implement symbolizer for more readable information
  CMakeLists.txt
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/linux/backtrace.cpp
  source/loader/layers/sanitizer/linux/symbolizer.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
Labels: loader, sanitizer, v0.10.x

#1840 Refactor L0 command-buffer cleanup.
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: level-zero, ready to merge, command-buffer, v0.10.x

#1819 [Bindless][Exp] Rename interop related structs/funcs with "external"
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  scripts/core/registry.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/queue_api.cpp
  source/adapters/level_zero/queue_api.hpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/image.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/common/stype_map_helpers.def
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, common, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu, v0.10.x

#1737 [L0] Implement IPC ops for L0 adapter
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm.hpp
  source/common/umf_helpers.hpp
  source/common/ur_util.cpp
  source/common/ur_util.hpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/ipc.cpp
Labels: ci/cd, common, conformance, level-zero, cuda, hip, native-cpu, v0.10.x

#1907 Bump UMF tag and fix syscalls
  source/common/CMakeLists.txt
  source/common/ur_util.cpp
Labels: common, v0.10.x

#1790 [Bindless][Exp] Create mapping of host and device handle
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/image.cpp
Labels: images, level-zero, ready to merge, v0.10.x

#1399 [CUDA][HIP] Return error on silently failing urEventGetInfo queries for interop created events
  source/adapters/cuda/event.cpp
  source/adapters/hip/event.cpp
  test/adapters/cuda/CMakeLists.txt
  test/adapters/cuda/event_tests.cpp
  test/adapters/cuda/raii.h
  test/adapters/cuda/urEventCreateWithNativeHandle.cpp
  test/adapters/hip/CMakeLists.txt
  test/adapters/hip/test_event.cpp
Labels: cuda, hip, ready to merge, v0.10.x

#1908 bump UMF tag to switch to rc2 release
  source/common/CMakeLists.txt
Labels: common, v0.10.x

#1884 Enable PrintTrace when SYCL UR tracing is enabled
  source/ur/ur.cpp
Labels: ready to merge, v0.10.x

#1880 [L0] L0 impl for enqueue native command
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  test/conformance/exp_enqueue_native/CMakeLists.txt
  test/conformance/exp_enqueue_native/enqueue_native_level_zero.cpp
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_level_zero-v2.match
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge, v0.10.x

#1882 [Bindless][Exp] Add interop memory mapping to USM.
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  scripts/core/registry.yml
  source/adapters/cuda/image.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/image.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, level-zero, cuda, hip, native-cpu, v0.10.x
