Repository oneapi-src/unified-runtime, pull requests merged in 2024-11, with the labels that each got.

#1833 [OpenCL] Add OpenCL version check for independent forward progress query
  source/adapters/opencl/device.cpp
Labels: ready to merge

#2165 Make USM pools optional with a device query to report support.
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/device.yml
  scripts/core/usm.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/adapters/opencl/usm.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
  test/conformance/testing/source/utils.cpp
  test/conformance/usm/urUSMDeviceAlloc.cpp
  test/conformance/usm/urUSMHostAlloc.cpp
  test/conformance/usm/urUSMPoolCreate.cpp
  test/conformance/usm/urUSMSharedAlloc.cpp
  test/conformance/usm/usm_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_opencl.match
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, level-zero, cuda, hip, ready to merge, native-cpu

#2247 Improve cts_exe.py formatting
  test/conformance/cts_exe.py
Labels: loader, conformance, specification, level-zero, cuda, hip

#2280 Candidate for the v0.10.12 release tag
  source/adapters/level_zero/device.cpp
  test/conformance/enqueue/enqueue_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#2283 [DeviceASAN] Fix build error when using libcxx
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/linux/symbolizer.cpp
Labels: loader, sanitizer

#2260 [L0] Refactor to remove default constructor inits
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: images, level-zero, ready to merge, command-buffer

#2264 [CMDBUF] Fix incorrect handling of shared local mem args in CUDA/HIP
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/hip/command_buffer.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/saxpy_usm_local_mem.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
Labels: conformance, specification, experimental, cuda, hip, ready to merge, command-buffer

#2082 [CI] Add "loader" support to conformance testing
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  test/conformance/adapter/adapter_adapter_native_cpu.match
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/event/event_adapter_opencl.match
Labels: ci/cd, loader, conformance, specification

#2276 Set the right HIP device before creating base event counter
  source/adapters/hip/platform.cpp
Labels: hip, ready to merge

#2292 [DeviceASAN] Disable memory leak detection when asan exit with errors
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
Labels: loader, sanitizer

#2288 [NFC] Update documentation to detail match files
  scripts/core/CONTRIB.rst
Labels: specification

#2233 Improvements to align CTS and Spec for Memory
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/memory.yml
  source/adapters/cuda/memory.cpp
  source/adapters/hip/memory.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/opencl/memory.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/memory/memory_adapter_hip.match
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/memory_adapter_opencl.match
  test/conformance/memory/urMemBufferCreate.cpp
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemBufferPartition.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
  test/conformance/memory/urMemRelease.cpp
  test/conformance/memory/urMemRetain.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, level-zero, cuda, hip, ready to merge

#2279 [L0] Update Level Zero Loader version to v1.18.5
  cmake/FetchLevelZero.cmake
Labels: ready to merge

#2297 fix path to markdown results in benchmarks workflow
  .github/workflows/benchmarks-reusable.yml
Labels: ci/cd

#2287 [Command-Buffer] Fix update validation for L0 and OpenCL
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/opencl/command_buffer.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
Labels: conformance, level-zero, ready to merge, command-buffer

#2256 Avoid potential ambiguity in UrReturnHelper
  source/ur/ur.hpp
Labels: ready to merge

#2270 [L0 v2] Use single command list for all operations and implement deferred event deallocation
  scripts/templates/queue_api.hpp.mako
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/event_pool.cpp
  source/adapters/level_zero/v2/event_pool.hpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/CMakeLists.txt
  test/adapters/level_zero/v2/command_list_cache_test.cpp
  test/adapters/level_zero/v2/event_pool_test.cpp
  test/conformance/event/event_adapter_level_zero_v2.match
Labels: conformance, level-zero

#2284 Command-Buffer CTS test for updating kernel pointer argument to a nullptr
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
Labels: conformance, ready to merge

#2278 [L0] Add Level Zero Reference Document
  scripts/core/LEVEL_ZERO.rst
  scripts/templates/index.rst.mako
Labels: specification, ready to merge

#2112 Improvements to align CTS and Spec for Context
  source/adapters/cuda/context.cpp
  source/adapters/hip/context.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/native_cpu/context.cpp
  source/adapters/opencl/context.cpp
  test/conformance/context/context_adapter_level_zero.match
  test/conformance/context/context_adapter_level_zero_v2.match
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/context/urContextCreate.cpp
  test/conformance/context/urContextGetInfo.cpp
  test/conformance/context/urContextSetExtendedDeleter.cpp
  test/conformance/enqueue/urEnqueueUSMFill2D.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, level-zero, cuda, hip, ready to merge, native-cpu

#2179 Wrap linker flags on Windows for IntelLLLVM
  cmake/helpers.cmake
  source/adapters/CMakeLists.txt
  source/adapters/level_zero/CMakeLists.txt
  source/loader/CMakeLists.txt
Labels: loader, level-zero, ready to merge

#2314 [v0.10.x][UMF] Bump version to the latest patch release v0.9.1
  source/common/CMakeLists.txt
Labels: common

#2254 [NATIVECPU] Implement events on Native CPU
  source/adapters/native_cpu/common.hpp
  source/adapters/native_cpu/context.hpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/event.cpp
  source/adapters/native_cpu/event.hpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/queue.cpp
  source/adapters/native_cpu/queue.hpp
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_native_cpu.match
Labels: conformance, ready to merge, native-cpu

#2318 [L0 v2] fix native kernel handle interop
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  test/adapters/level_zero/urKernelCreateWithNativeHandle.cpp
Labels: level-zero

#2285 [NFC] Clean up match files for conf. testing
  scripts/core/CONTRIB.rst
  test/conformance/adapter/adapter_adapter_native_cpu.match
  test/conformance/context/context_adapter_level_zero.match
  test/conformance/context/context_adapter_level_zero_v2.match
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/cts_exe.py
  test/conformance/device/device_adapter_cuda.match
  test/conformance/device/device_adapter_hip.match
  test/conformance/device/device_adapter_level_zero.match
  test/conformance/device/device_adapter_level_zero_v2.match
  test/conformance/device/device_adapter_native_cpu.match
  test/conformance/enqueue/enqueue_adapter_cuda.match
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/enqueue/enqueue_adapter_level_zero.match
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/event/event_adapter_cuda.match
  test/conformance/event/event_adapter_hip.match
  test/conformance/event/event_adapter_level_zero.match
  test/conformance/event/event_adapter_level_zero_v2.match
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_level_zero_v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_native_cpu.match
  test/conformance/integration/integration_adapter_level_zero.match
  test/conformance/integration/integration_adapter_level_zero_v2.match
  test/conformance/integration/integration_adapter_native_cpu.match
  test/conformance/kernel/kernel_adapter_cuda.match
  test/conformance/kernel/kernel_adapter_hip.match
  test/conformance/kernel/kernel_adapter_level_zero.match
  test/conformance/kernel/kernel_adapter_level_zero_v2.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/kernel_adapter_opencl.match
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/memory/memory_adapter_hip.match
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/program/program_adapter_cuda.match
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/program_adapter_level_zero.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/sampler/sampler_adapter_level_zero.match
  test/conformance/sampler/sampler_adapter_level_zero_v2.match
  test/conformance/usm/usm_adapter_cuda.match
  test/conformance/usm/usm_adapter_hip.match
  test/conformance/usm/usm_adapter_level_zero.match
  test/conformance/usm/usm_adapter_level_zero_v2.match
  test/conformance/usm/usm_adapter_native_cpu.match
  test/conformance/usm/usm_adapter_opencl.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero.match
  test/conformance/virtual_memory/virtual_memory_adapter_level_zero_v2.match
Labels: conformance, specification

#2320 [NFC] Make macro in conf. test no longer leak
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/event/urEventCreateWithNativeHandle.cpp
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
  test/conformance/queue/urQueueCreateWithNativeHandle.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance

#2253 add low-power events experimental extension spec
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-LOW-POWER-EVENTS.rst
  scripts/core/exp-low-power-events.yml
  scripts/core/registry.yml
  source/adapters/cuda/device.cpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/enqueue.cpp
  source/common/stype_map_helpers.def
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, common, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#2307 [L0 v2] implement enqueueCooperativeKernelLaunchExp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
Labels: level-zero

#2252 Update UMF and add fetching CUDA
  source/common/CMakeLists.txt
Labels: common

#2328 Remove empty file
  scripts/templates/ur_api.hpp.mako
Labels: ready to merge

#2222 Enable -flto and -fsanitize=cfi in clang
  .github/workflows/build-fuzz-reusable.yml
  .github/workflows/build-hw-reusable.yml
  CMakeLists.txt
  README.md
  cmake/helpers.cmake
  test/adapters/level_zero/v2/CMakeLists.txt
  test/conformance/enqueue/enqueue_adapter_opencl.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/fuzz/CMakeLists.txt
Labels: ci/cd, common, conformance, ready to merge

#2333 Tidy a string in an options test
  test/conformance/platform/urPlatformGetBackendOption.cpp
Labels: conformance, ready to merge

#2273 Fix incorrect outputs and improve performance of commonMemSetLargePattern
  source/adapters/cuda/enqueue.cpp
  source/adapters/hip/enqueue.cpp
Labels: cuda, hip, ready to merge

#2337 Fix the CL_CORE_FUNCTION macro on windows.
  source/adapters/opencl/adapter.cpp
Labels: ready to merge

#2349 Temporarily disable clang-cl builds on Windows
  .github/workflows/cmake.yml
Labels: ci/cd

#2308 [L0 v2] add try/catch to all API functions
  scripts/templates/queue_api.cpp.mako
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_create.cpp
Labels: level-zero

#2258 Use extension version of clGetKernelSubGroupInfo when necessary.
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/adapters/opencl/extension_functions.def
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/program.cpp
Labels: ready to merge

#2315 [SYCL] Add -foffload-fp32-prec-[div/sqrt] FE option handling in JIT
  source/adapters/cuda/platform.cpp
  source/adapters/hip/platform.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/opencl/platform.cpp
Labels: ready to merge

#2282 Improvements to align CTS and Spec for Queue
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/queue/urQueueCreateWithNativeHandle.cpp
  test/conformance/queue/urQueueGetInfo.cpp
Labels: conformance

#2340 Restore specific test to CL kernel match file.
  test/conformance/kernel/kernel_adapter_opencl.match
Labels: conformance

#1975 [Command-Buffers] Implement new command-list enqueue path
  scripts/core/LEVEL_ZERO.rst
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: specification, level-zero, ready to merge, command-buffer

#2358 [L0 v2] don't reset counter-based events
  source/adapters/level_zero/v2/event.cpp
Labels: level-zero

#2335 logging full path of loaded adapter
  source/common/linux/ur_lib_loader.cpp
Labels: common

#2226 Fix OpenCL adapter path in labeler.yml config
  .github/labeler.yml
Labels: ci/cd

#2359 Don't build level zero provider in non-l0 builds
  source/common/CMakeLists.txt
Labels: common

#2232 [DeviceASAN][NFC] Code Restructure
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/asan/asan_allocator.cpp
  source/loader/layers/sanitizer/asan/asan_allocator.hpp
  source/loader/layers/sanitizer/asan/asan_buffer.cpp
  source/loader/layers/sanitizer/asan/asan_buffer.hpp
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_ddi.hpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan/asan_libdevice.hpp
  source/loader/layers/sanitizer/asan/asan_options.cpp
  source/loader/layers/sanitizer/asan/asan_options.hpp
  source/loader/layers/sanitizer/asan/asan_quarantine.cpp
  source/loader/layers/sanitizer/asan/asan_quarantine.hpp
  source/loader/layers/sanitizer/asan/asan_report.cpp
  source/loader/layers/sanitizer/asan/asan_report.hpp
  source/loader/layers/sanitizer/asan/asan_shadow.cpp
  source/loader/layers/sanitizer/asan/asan_shadow.hpp
  source/loader/layers/sanitizer/asan/asan_statistics.cpp
  source/loader/layers/sanitizer/asan/asan_statistics.hpp
  source/loader/layers/sanitizer/asan/asan_validator.cpp
  source/loader/layers/sanitizer/asan/asan_validator.hpp
  source/loader/layers/sanitizer/sanitizer_common/linux/backtrace.cpp
  source/loader/layers/sanitizer/sanitizer_common/linux/sanitizer_utils.cpp
  source/loader/layers/sanitizer/sanitizer_common/linux/symbolizer.cpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_allocator.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_common.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_libdevice.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_stacktrace.cpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_stacktrace.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_utils.cpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_utils.hpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.hpp
Labels: loader, sanitizer

#2326 Index into property array in urDevicePartition for OpenCL
  source/adapters/opencl/device.cpp
  test/conformance/device/urDevicePartition.cpp
Labels: conformance, opencl, ready to merge

#2370 [L0] Check that program is in exe state in urProgramGetGlobalVariablePointer
  source/adapters/level_zero/program.cpp
  test/conformance/program/program_adapter_native_cpu.match
  test/conformance/program/urProgramGetGlobalVariablePointer.cpp
Labels: ready to merge

#2363 Improve logging of loading adapters on Windows
  source/common/windows/ur_lib_loader.cpp
Labels: common, ready to merge

#2303 [L0] Implement Support for zeInitDrivers
  .github/workflows/build-fuzz-reusable.yml
  cmake/FetchLevelZero.cmake
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  test/loader/platforms/CMakeLists.txt
Labels: ci/cd, level-zero, ready to merge

#2380 [L0 v2] Add missing queueFinish() to queueRelease()
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
Labels: level-zero

#2351 [L0] Add support for the MCL 1.1 apis thru the spec extensions
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: ci/cd, level-zero, ready to merge, v0.11.x

#2382 [NFC] Enable CFI sanitation on CUDA CI nodes
  .github/workflows/build-hw-reusable.yml
Labels: ci/cd

#2055 [DeviceSanitizer] Support "-fsanitize-ignorelist=" to disable sanitizing on some of kernels
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan/asan_libdevice.hpp
Labels: loader, ready to merge, sanitizer, v0.11.x

#2388 [Test] add flaky test to match file for L0
  test/conformance/enqueue/enqueue_adapter_level_zero.match
Labels: conformance

#2387 [Doc] fix typo in LEVEL_ZERO.rst
  scripts/core/LEVEL_ZERO.rst
Labels: specification

#2369 [CMDBUF] Implement kernel binary update for L0 adapter
  scripts/core/EXP-COMMAND-BUFFER.rst
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: specification, experimental, level-zero, ready to merge, command-buffer, v0.11.x

#2261 Add new device descriptor to query 2D block array capabilities of the Intel GPU
  cmake/FetchLevelZero.cmake
  include/ur_api.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-2D-BLOCK-ARRAY-CAPABILITIES.rst
  scripts/core/exp-2d-block-array-capabilities.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/v2/CMakeLists.txt
  test/conformance/device/urDeviceGetInfo.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu, v0.11.x

#2375 [common] Bump UMF version
  source/common/CMakeLists.txt
Labels: common, ready to merge, v0.11.x

#2399 Disable CUDA sycl e2e tests
  .github/workflows/cmake.yml
Labels: ci/cd

#1968 Add new launch property to support work_group_scratch_memory
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-launch-properties.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_launch_properties/launch_properties.cpp
Labels: ready to merge, v0.11.x

#2400 Revert "Add new launch property to support work_group_scratch_memory"
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/exp-launch-properties.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_launch_properties/launch_properties.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda

#2396 [L0] Add nullopt check before init results access
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
Labels: level-zero, ready to merge, v0.11.x

#2390 add tests for low-power events extension
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  test/conformance/enqueue/urEnqueueEventsWaitWithBarrier.cpp
  test/conformance/queue/urQueueCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, cuda, hip, opencl, native-cpu
