Repository oneapi-src/unified-runtime, pull requests merged in 2024-06, with the labels that each got.

#1701 [HIP] Update program_adapter match files
  test/conformance/program/program_adapter_hip.match
Labels: conformance, ready to merge

#1385 Implement urKernelGetSuggestedLocalWorkSize
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/kernel.yml
  scripts/core/registry.yml
  source/adapters/cuda/enqueue.hpp
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/enqueue.hpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/kernel.hpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/kernel.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/kernel/CMakeLists.txt
  test/conformance/kernel/kernel_adapter_level_zero.match
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelGetSuggestedLocalWorkSize.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu, sanitizer

#1680 [CTS][NFC] Reuse variable for allocation size
  test/conformance/usm/urUSMFree.cpp
Labels: conformance, ready to merge

#1705 Update CodeQL to latest and disable it for PRs
  .github/workflows/codeql.yml
Labels: ci/cd

#1704 [HIP] Add an eagerly-removed program_adapter match line
  test/conformance/program/program_adapter_hip.match
Labels: conformance

#1527 [NATIVECPU] Report correct memory order capabilities for Native CPU
  source/adapters/native_cpu/device.cpp
Labels: ready to merge, native-cpu

#1598 Add more output validation for urEventGetProfilingInfo test
  source/adapters/cuda/event.cpp
  source/adapters/opencl/event.cpp
  test/conformance/event/event_adapter_cuda.match
  test/conformance/event/event_adapter_hip.match
  test/conformance/event/event_adapter_level_zero.match
  test/conformance/event/event_adapter_native_cpu.match
  test/conformance/event/urEventGetProfilingInfo.cpp
Labels: conformance, cuda, ready to merge

#1674 [CUDA] wire up cooperative kernel launch
  source/adapters/cuda/enqueue.cpp
Labels: cuda, ready to merge

#1552 [CUDA] Remove the support of concurrent atomic access to host allocated pinned memory.
  source/adapters/cuda/device.cpp
Labels: cuda, ready to merge

#1622 [HIP] Fix context devices property return value
  source/adapters/hip/context.cpp
  test/conformance/context/context_adapter_hip.match
Labels: conformance, hip, ready to merge

#1632 [HIP] Implement urDeviceGetNativeHandle
  source/adapters/hip/device.cpp
  test/conformance/device/device_adapter_hip.match
Labels: conformance, hip, ready to merge

#1679 [HIP] Add support for querying USM allocation size
  source/adapters/hip/usm.cpp
  test/conformance/enqueue/enqueue_adapter_hip.match
  test/conformance/usm/usm_adapter_hip.match
Labels: conformance, hip, ready to merge

#1688 [HIP] Various fixes for urEnqueueMemImage(Read|Write|Copy)
  source/adapters/hip/enqueue.cpp
  test/conformance/enqueue/enqueue_adapter_hip.match
Labels: conformance, hip, ready to merge

#1650 Remove the last few bool -> uint32_t conversions from L0 device info.
  source/adapters/level_zero/device.cpp
  test/conformance/device/device_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#1694 Set minimum L0 device support to support UR kernel update
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
Labels: level-zero, ready to merge, command-buffer

#1712 [CI] Run E2E on PR
  .github/workflows/cmake.yml
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_cuda.yml
  .github/workflows/e2e_level_zero.yml
  .github/workflows/e2e_opencl.yml
Labels: ci/cd

#1568 [CUDA][HIP] Fix return type of various device attributes.
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
Labels: cuda, hip, ready to merge

#1634 [HIP][CUDA] Refactor using profiling events
  source/adapters/cuda/event.cpp
  source/adapters/cuda/event.hpp
  source/adapters/cuda/queue.cpp
  source/adapters/cuda/queue.hpp
  source/adapters/hip/context.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/device.hpp
  source/adapters/hip/event.cpp
  source/adapters/hip/event.hpp
  source/adapters/hip/platform.cpp
  source/adapters/hip/platform.hpp
  source/adapters/hip/queue.cpp
  source/adapters/hip/queue.hpp
Labels: cuda, hip, ready to merge

#1669 [CUDA][HIP] Fix urUSMGetMemAllocInfo impl to use single platform.
  source/adapters/cuda/usm.cpp
  source/adapters/hip/usm.cpp
Labels: cuda, hip, ready to merge

#1673 [UR] Fix adapter search on Windows
  source/loader/windows/adapter_search.cpp
Labels: loader, ready to merge

#1716 [CI] Change benchmarks workflow trigger
  .github/workflows/benchmarks_compute.yml
  .github/workflows/benchmarks_level_zero.yml
Labels: ci/cd

#1664 Add loader API map/def files
  scripts/generate_code.py
  scripts/templates/helper.py
  scripts/templates/loader.def.in.mako
  scripts/templates/loader.map.in.mako
  source/loader/CMakeLists.txt
  source/loader/loader.def.in
  source/loader/loader.map.in
Labels: loader, ready to merge

#1703 Remove L0 limitation from command-buffer update CTS tests
  test/conformance/exp_command_buffer/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
Labels: conformance, ready to merge

#1722 fix permissions in e2e workflow
  .github/workflows/cmake.yml
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1723 [GHA] Temporarily disable testing on windows-2022
  .github/workflows/cmake.yml
Labels: ci/cd

#1693 Fix CUDA tracing when UR is built standalone
  cmake/FindCUDACupti.cmake
  source/adapters/cuda/CMakeLists.txt
Labels: cuda

#1726 [DeviceSanitizer][NFC] Fix Coverity copy_instead_of_move issue
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, sanitizer

#1721 Fix lifetime of pointer used in L0 update
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer

#1706 Fix L0 Event leak without return sync point
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer

#1629 Use fence rather than event for sync in L0 command-buffer update
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
Labels: loader, conformance, specification, experimental, level-zero, ready to merge, command-buffer

#1409 [CTS] Add CTS tests for urMemImageCreate entry-point
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/common.yml
  scripts/core/exp-bindless-images.yml
  scripts/core/memory.yml
  source/adapters/cuda/image.cpp
  source/adapters/cuda/memory.cpp
  source/adapters/cuda/memory.hpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/memory.hpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/opencl/memory.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/CMakeLists.txt
  test/conformance/memory/memory_adapter_cuda.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/memory/urMemImageCreateWithImageFormatParam.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/source/fixtures.cpp
Labels: loader, conformance, images, specification, experimental, level-zero, cuda, hip, opencl, ready to merge

#1282 Fix size confusion for several device property queries
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/opencl/device.cpp
Labels: conformance, level-zero, cuda, hip, opencl, ready to merge

#1734 [GHA] Revert e2e workflow & disable comment
  .github/workflows/cmake.yml
  .github/workflows/e2e.yml
  .github/workflows/e2e_core.yml
Labels: ci/cd

#1739 [UR] Add some information about buffers in spec
  scripts/core/PROG.rst
Labels: specification

#1728 [Bindless][Exp] Add image arrays to bindless images doc
  scripts/core/EXP-BINDLESS-IMAGES.rst
Labels: documentation, images, specification, experimental, ready to merge

#1731 [CUDA] Check for nullptr before dereference.
  source/adapters/cuda/enqueue.cpp
Labels: cuda, ready to merge

#1128 Clarify spec for QUEUE_INFO_SIZE and change testing for it accordingly.
  include/ur_api.h
  scripts/core/queue.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/opencl/common.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/queue/queue_adapter_hip.match
  test/conformance/queue/queue_adapter_native_cpu.match
  test/conformance/queue/queue_adapter_opencl.match
  test/conformance/queue/urQueueGetInfo.cpp
Labels: loader, conformance, specification, cuda, hip, opencl, ready to merge

#1711 [HIP][CUDA] Several changes to kernel launch
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/memory.cpp
  source/adapters/cuda/memory.hpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/memory.hpp
  test/conformance/CMakeLists.txt
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/inc.cpp
  test/conformance/memory/CMakeLists.txt
  test/conformance/memory/memory-migrate_adapter_cuda.match
  test/conformance/memory/memory-migrate_adapter_hip.match
  test/conformance/memory/memory-migrate_adapter_level_zero.match
  test/conformance/memory/memory-migrate_adapter_native_cpu.match
  test/conformance/memory/memory-migrate_adapter_opencl.match
  test/conformance/memory/urMemBufferMigrateAcrossDevices.cpp
Labels: conformance, cuda, hip, ready to merge

#1661 [HIP] Add support for querying program binary type
  source/adapters/hip/program.cpp
  source/adapters/hip/program.hpp
  test/conformance/program/program_adapter_hip.match
Labels: conformance, hip, ready to merge

#1710 [HIP] Remove overly restrictive urEnqueueMemBufferFill validation
  source/adapters/hip/enqueue.cpp
  test/conformance/enqueue/enqueue_adapter_hip.match
Labels: conformance, hip, ready to merge

#1713 [HIP] Add support for querying USM base pointer
  source/adapters/hip/common.hpp
  source/adapters/hip/usm.cpp
  test/conformance/usm/usm_adapter_hip.match
Labels: conformance, hip, ready to merge

#1414 [HIP] Enable more ordering and scope capabilities for atomic fences
  source/adapters/hip/device.cpp
Labels: hip, ready to merge

#1415 [HIP] Enable more ordering and scope capabilities for atomic memory ops
  source/adapters/hip/device.cpp
Labels: hip, ready to merge

#1750 [CTS] Fix queue-releated nullptr issues in tests
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: conformance, ready to merge

#1751 [NFC] Use sycl/sycl.hpp instead of CL/sycl.hpp
  test/conformance/device_code/cpy_and_mult.cpp
  test/conformance/device_code/cpy_and_mult_usm.cpp
Labels: conformance

#1749 [L0] Maintain Lock of Queue while syncing the Last Command Event and update Last Command Event only if matching
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.9.x

#1755 [test] Move mem migrate to its own dir
  test/conformance/CMakeLists.txt
  test/conformance/memory-migrate/CMakeLists.txt
  test/conformance/memory-migrate/memory-migrate_adapter_cuda.match
  test/conformance/memory-migrate/memory-migrate_adapter_hip.match
  test/conformance/memory-migrate/memory-migrate_adapter_level_zero.match
  test/conformance/memory-migrate/memory-migrate_adapter_native_cpu.match
  test/conformance/memory-migrate/memory-migrate_adapter_opencl.match
  test/conformance/memory-migrate/urMemBufferMigrateAcrossDevices.cpp
  test/conformance/memory/CMakeLists.txt
Labels: conformance

#1738 [CMDBUF][L0] Use copy engine to optimize cmd-buffer usage
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: experimental, level-zero, command-buffer

#1757 Don't assume a multi dev ctx is being used
  test/conformance/context/urContextGetInfo.cpp
Labels: conformance

#1758 Revert "[HIP] Enable more ordering and scope capabilities for atomic memory ops"
  source/adapters/hip/device.cpp
Labels: hip

#1692 Add hAdapter parameter to urPlatformCreateWithNativeHandle
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.hpp
  scripts/core/platform.yml
  scripts/templates/helper.py
  scripts/templates/ldrddi.cpp.mako
  source/adapters/cuda/platform.cpp
  source/adapters/hip/platform.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/native_cpu/platform.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/platform.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, ready to merge, native-cpu

#1678 Fix return of component and composite device info queries
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  source/ur/ur.hpp
Labels: level-zero, cuda, hip, ready to merge, native-cpu

#1639 [Bindless][Exp] Windows & DX12 interop. Semaphore ops can take values.
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  scripts/core/registry.yml
  source/adapters/cuda/image.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/image.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/image.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/image.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, common, images, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu

#1761 [Security] add dependabot security updates
  .github/dependabot.yml
Labels: ci/cd

#1623 [L0] Create initial structure for supporting queue dispatcher
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/kernel.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
Labels: common, images, level-zero, ready to merge, command-buffer

#1638 [DeviceSanitizer] Change ASan shadow scale from 3 to 4
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/asan_shadow_setup.cpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/linux/sanitizer_utils.cpp
Labels: loader, ready to merge, sanitizer

#1724 [CUDA][CTS] Update program match file
  test/conformance/program/program_adapter_cuda.match
Labels: conformance, ready to merge

#1563 Optimize get_logger function
  source/common/logger/ur_logger.hpp
Labels: common, ready to merge

#1628 [NATIVECPU] Report cl_khr_fp16 on native cpu
  source/adapters/native_cpu/device.cpp
Labels: ready to merge, native-cpu

#1470 [L0][Bindless Image] Bug fixes and sampled image support
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/sampler.cpp
  source/adapters/level_zero/sampler.hpp
Labels: images, level-zero, ready to merge

#1707 [HIP][CUDA] Allow customization of the default logging level
  source/adapters/cuda/adapter.cpp
  source/adapters/hip/adapter.cpp
  source/common/logger/ur_level.hpp
  source/common/logger/ur_logger.hpp
Labels: loader, common, cuda, hip, ready to merge

#1725 [CUDA][HIP] Fix build info log reporting
  source/adapters/cuda/program.cpp
  source/adapters/hip/program.cpp
  test/conformance/program/program_adapter_cuda.match
  test/conformance/program/program_adapter_hip.match
  test/conformance/program/urProgramGetBuildInfo.cpp
Labels: conformance, cuda, hip, ready to merge

#1741 [UR] Test that an in order queue returns same backend q
  test/conformance/queue/urQueueGetNativeHandle.cpp
Labels: conformance, ready to merge

#1767 [UR][doc] Reword some programming guide sections
  scripts/core/PROG.rst
Labels: specification, ready to merge

#805 Correct level of indirection used in KernelSetArgPointer calls.
  include/ur_api.h
  scripts/core/kernel.yml
  source/adapters/cuda/kernel.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/kernel.cpp
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/exp_command_buffer/invalid_update.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/integration/QueueEmptyStatus.cpp
  test/conformance/integration/QueueUSM.cpp
  test/conformance/kernel/urKernelSetArgPointer.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, ready to merge, native-cpu, sanitizer

#1714 [CUDA][Bindless][Exp] Fix subregion copies
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge

#1778 [L0] Fix Handle used in calls to L0 Driver zex apis given multi drivers
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/platform.hpp
  source/adapters/level_zero/ur_level_zero.hpp
  source/adapters/level_zero/usm.cpp
Labels: images, level-zero, ready to merge, v0.9.x, command-buffer

#1770 [L0] implement command list cache for queue
  source/adapters/level_zero/common.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/v2/CMakeLists.txt
  test/adapters/level_zero/v2/command_list_cache_test.cpp
Labels: level-zero, ready to merge

#1788 Fix L0 E2E workflow
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#1637 [DeviceSanitizer] refactor options handling and fix use-after-free related problems
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/asan_report.cpp
Labels: loader, ready to merge, sanitizer

#1677 [DeviceSanitizer] Support multiple error reports (-fsanitize-recover=address)
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/asan_report.cpp
Labels: loader, ready to merge, sanitizer

#1676 [DeviceSanitizer] Support out-of-bounds on private memory
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_libdevice.hpp
  source/loader/layers/sanitizer/asan_options.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
  source/loader/layers/sanitizer/ur_sanitizer_layer.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.cpp
  source/loader/layers/sanitizer/ur_sanitizer_utils.hpp
Labels: loader, ready to merge, sanitizer

#1645 [UR] Add experimental interface for native enqueue
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-NATIVE-ENQUEUE.rst
  scripts/core/exp-native-enqueue.yml
  scripts/core/registry.yml
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/device.cpp
  source/adapters/cuda/enqueue_native.cpp
  source/adapters/cuda/memory.hpp
  source/adapters/cuda/queue.cpp
  source/adapters/cuda/queue.hpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/enqueue_native.cpp
  source/adapters/hip/memory.hpp
  source/adapters/hip/queue.cpp
  source/adapters/hip/queue.hpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/null/ur_nullddi.cpp
  source/adapters/opencl/CMakeLists.txt
  source/adapters/opencl/device.cpp
  source/adapters/opencl/enqueue_native.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/common/stype_map_helpers.def
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/adapters/cuda/CMakeLists.txt
  test/adapters/cuda/urQueueGetNativeHandle.cpp
  test/conformance/CMakeLists.txt
  test/conformance/exp_enqueue_native/CMakeLists.txt
  test/conformance/exp_enqueue_native/enqueue_native_cuda.cpp
  test/conformance/exp_enqueue_native/exp_enqueue_native_cuda_adapter_cuda.match
  tools/urinfo/urinfo.hpp
Labels: loader, common, conformance, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu, command-buffer
