Repository oneapi-src/unified-runtime, pull requests merged in 2024-09, with the labels that each got.

#2039 [L0] update L0 Loader version to v1.17.39
  source/adapters/level_zero/CMakeLists.txt
Labels: level-zero, ready to merge

#2036 [HIP] Take ROCm path from environment if available
  README.md
  source/adapters/hip/CMakeLists.txt
Labels: hip, ready to merge

#2045 Generate .def file with all UR entry points
  include/ur_api_funcs.def
  scripts/generate_code.py
  scripts/templates/api_funcs.def.mako
Labels: ready to merge, v0.10.x

#2008 Update CMake warning for tests hidden behind UR_DPCXX flag
  test/conformance/CMakeLists.txt
Labels: conformance

#2026 [Benchmark] use UR_ADAPTERS_FORCE_LOAD in benchmarks
  .github/workflows/benchmarks_compute.yml
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
Labels: ci/cd

#2032 [CL] Make device queries more robust
  include/ur_api.h
  scripts/core/device.yml
  source/adapters/opencl/device.cpp
Labels: ready to merge, v0.10.x

#2046 Remove command-buffer CTS L0 workaround
  test/conformance/exp_command_buffer/fixtures.h
Labels: conformance, ready to merge

#1919 Revert queue abstract class
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/queue_api.cpp
  source/adapters/level_zero/queue_api.hpp
Labels: conformance, images, level-zero, command-buffer

#2062 [L0] Fix Command List Cache to correctly set In order List property
  source/adapters/level_zero/context.cpp
Labels: level-zero, ready to merge, v0.10.x

#1820 Add support for static linking of the L0 adapter
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  CMakeLists.txt
  scripts/generate_code.py
  scripts/templates/ldrddi.cpp.mako
  scripts/templates/queue_api.cpp.mako
  scripts/templates/ur_interface_loader.cpp.mako
  scripts/templates/ur_interface_loader.hpp.mako
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/common.hpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
  source/adapters/level_zero/enqueue_native.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/image.hpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
  source/adapters/level_zero/physical_mem.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/queue.hpp
  source/adapters/level_zero/sampler.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/ur_level_zero.hpp
  source/adapters/level_zero/usm.cpp
  source/adapters/level_zero/usm_p2p.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event_provider_normal.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_create.cpp
  source/adapters/level_zero/v2/usm.cpp
  source/adapters/level_zero/virtual_mem.cpp
  source/common/CMakeLists.txt
  source/common/ur_util.hpp
  source/loader/CMakeLists.txt
  source/loader/ur_adapter_registry.hpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_loader.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/v2/CMakeLists.txt
Labels: ci/cd, loader, common, conformance, images, level-zero, command-buffer

#2053 [LOADER] Added Prefilter using ONEAPI_DEVICE_SELECTOR to remove backends
  scripts/core/INTRO.rst
  source/loader/ur_adapter_registry.hpp
  test/loader/adapter_registry/CMakeLists.txt
  test/loader/adapter_registry/fixtures.hpp
  test/loader/adapter_registry/prefilter.cpp
Labels: loader, specification, ready to merge, v0.10.x

#2015 [Common] Add total count and sum of latency measurements
  source/common/latency_tracker.hpp
  source/common/ur_util.hpp
  test/unit/utils/CMakeLists.txt
  test/unit/utils/helpers.cpp
Labels: common

#1997 [CTS] Add test that submits kernelLaunch and USMMemcpy interchangeably
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/increment.cpp
  test/conformance/enqueue/CMakeLists.txt
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/urEnqueueKernelLaunchAndMemcpyInOrder.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/utils.h
Labels: conformance

#2051 [L0 v2] Use ze_handle_wrappers to hold ze_handles
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/command_list_cache.hpp
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  test/adapters/level_zero/v2/command_list_cache_test.cpp
Labels: level-zero

#2064 [L0 v2] add inital memory buffer support
  .github/workflows/cmake.yml
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/helpers/memory_helpers.cpp
  source/adapters/level_zero/helpers/memory_helpers.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event_provider_counter.cpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/memory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  test/conformance/context/context_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/enqueue_adapter_native_cpu.match
  test/conformance/event/event_adapter_level_zero_v2.match
  test/conformance/kernel/kernel_adapter_level_zero_v2.match
  test/conformance/memory/memory_adapter_level_zero_v2.match
  test/conformance/program/program_adapter_level_zero_v2.match
  test/conformance/queue/queue_adapter_level_zero_v2.match
  test/conformance/usm/usm_adapter_level_zero_v2.match
Labels: ci/cd, conformance, level-zero

#2068 Candidate for the v0.10.3 release tag
  scripts/core/INTRO.rst
  source/adapters/level_zero/context.cpp
  source/loader/CMakeLists.txt
  source/loader/layers/sanitizer/linux/symbolizer.cpp
  source/loader/layers/sanitizer/stacktrace.cpp
  source/loader/ur_adapter_registry.hpp
  test/loader/adapter_registry/CMakeLists.txt
  test/loader/adapter_registry/fixtures.hpp
  test/loader/adapter_registry/prefilter.cpp
Labels: loader, common, specification, level-zero, sanitizer

#2074 [CTS] Fix urEnqueueKernelLaunchIncrementMultiDeviceMultiThreadTest test
  test/conformance/enqueue/enqueue_adapter_level_zero_v2.match
  test/conformance/enqueue/urEnqueueKernelLaunchAndMemcpyInOrder.cpp
Labels: conformance

#1796 [CUDA] Implement urKernelSuggestMaxCooperativeGroupCountExp for Cuda
  source/adapters/cuda/device.cpp
  source/adapters/cuda/device.hpp
  source/adapters/cuda/kernel.cpp
Labels: experimental, cuda, ready to merge

#2078 Add workaround for silently supported OpenCL extensions on Intel FPGA
  source/adapters/opencl/device.cpp
Labels: ready to merge, v0.10.x

#2080 fix urEnqueueEventsWaitWithBarrier returning events on failures
  source/adapters/level_zero/event.cpp
Labels: level-zero

#1928 [Bindless][Exp] Image Array Sub-Region Copies
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge

#2083 Fix XPTI initialization bug
  source/loader/layers/tracing/ur_tracing_layer.cpp
Labels: loader, v0.10.x

#2066 [NFC] Warning squishing
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/loader/ur_lib.cpp
  test/adapters/level_zero/urKernelCreateWithNativeHandle.cpp
  test/conformance/context/urContextCreate.cpp
  test/conformance/device_code/indexers_usm.cpp
  test/conformance/device_code/linker_error.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/program/urProgramCreateWithIL.cpp
Labels: loader, conformance, images, level-zero

#2054 [DeviceSanitizer] refine option parsing
  source/loader/layers/sanitizer/asan_options.hpp
Labels: loader, sanitizer

#1994 Remove trailing semicolon. NFC
  source/common/umf_helpers.hpp
Labels: common, ready to merge

#1821 [NATIVECPU] Initial support for spec constants on Native CPU
  source/adapters/native_cpu/device.cpp
  source/adapters/native_cpu/memory.cpp
  source/adapters/native_cpu/platform.cpp
  test/conformance/platform/platform_adapter_native_cpu.match
Labels: conformance, ready to merge, native-cpu

#2060 [Loader] Suppress system errors when loading adapters on Windows
  source/loader/ur_loader.cpp
Labels: loader, ready to merge, v0.10.x

#2076 Candidate for the v0.10.4 release tag
  CMakeLists.txt
  source/adapters/opencl/usm.cpp
  source/common/CMakeLists.txt
  source/loader/layers/tracing/ur_tracing_layer.cpp
  source/loader/ur_loader.cpp
Labels: loader, common, conformance, images, specification, level-zero, cuda

#2096 [L0] Fix urEnqueueDeviceGlobalVariableWrite to use device specific mo…
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge, v0.10.x

#2097 [L0] Fix Counter Based Event Default signal given placeholder
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.10.x

#2087 [L0] Fix urEnqueueEventsWaitWithBarrier for driver in order lists
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero, ready to merge, v0.10.x

#2094 Suppress e2e test failures
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_cuda.yml
  .github/workflows/e2e_level_zero.yml
  .github/workflows/e2e_opencl.yml
Labels: ci/cd

#1874 [NATIVECPU] Support atomic fence queries
  source/adapters/native_cpu/device.cpp
Labels: ready to merge, native-cpu

#2088 Fix Windows CTS with kernels build
  source/adapters/opencl/device.cpp
  source/adapters/opencl/kernel.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/exp_command_buffer/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/ndrange_update.cpp
  test/conformance/exp_command_buffer/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/usm_saxpy_kernel_update.cpp
  test/conformance/kernel/urKernelGetGroupInfo.cpp
Labels: conformance

#2093 fixed issue #1990, L0 leaks checker counts successful create/destroy only
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/common.cpp
Labels: level-zero, ready to merge

#1914 [DeviceSanitizer] Support nullpointer detection
  source/loader/layers/sanitizer/asan_interceptor.cpp
Labels: loader, ready to merge, sanitizer

#2027 [DeviceSanitizer] Fix MemBuffer::getAlignment will UB under optimization with new compiler change.
  source/loader/layers/sanitizer/asan_buffer.cpp
Labels: loader, sanitizer

#2035 [DeviceSanitizer] Don't report warning if write __AsanDebug failed
  source/loader/layers/sanitizer/asan_interceptor.cpp
Labels: loader, sanitizer

#1808 [DeviceSanitizer] Support detecting memory leaks of USM
  source/loader/layers/sanitizer/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan_interceptor.hpp
  source/loader/layers/sanitizer/asan_report.cpp
  source/loader/layers/sanitizer/asan_report.hpp
  source/loader/layers/sanitizer/ur_sanddi.cpp
Labels: loader, sanitizer

#1934 [DeviceSanitizer] Exclude shadow memory from coredump file for CPU device.
  source/loader/layers/sanitizer/asan_shadow_setup.cpp
  source/loader/layers/sanitizer/common.hpp
  source/loader/layers/sanitizer/linux/sanitizer_utils.cpp
Labels: loader, sanitizer

#2022 [L0] Add 3-channel image support
  source/adapters/level_zero/image.cpp
Labels: images, level-zero, ready to merge

#1698 [L0] Phase 2 of Counter-Based Event Implementation
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
Labels: conformance, level-zero

#2106 [L0] Fix urEnqueueDeviceGlobalVariableRead to use device specific modules
  source/adapters/level_zero/kernel.cpp
Labels: level-zero, ready to merge, v0.10.x

#2108 fix perf regression in tracing layer
  scripts/templates/trcddi.cpp.mako
  source/common/logger/ur_logger_details.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
Labels: loader, common, ready to merge, v0.10.x

#2107 Candidate for the v0.10.6 release tag
  CMakeLists.txt
  scripts/templates/trcddi.cpp.mako
  source/adapters/level_zero/kernel.cpp
  source/common/logger/ur_logger_details.hpp
  source/loader/layers/tracing/ur_trcddi.cpp
Labels: loader, common, level-zero

#2113 Revert "[L0] Phase 2 of Counter-Based Event Implementation"
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/queue.cpp
Labels: level-zero

#1830 [hip] Remove deprecated hip APIs, simplify urContext
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/context.cpp
  source/adapters/hip/context.hpp
  source/adapters/hip/device.cpp
  source/adapters/hip/device.hpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/enqueue_native.cpp
  source/adapters/hip/event.cpp
  source/adapters/hip/kernel.cpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/memory.hpp
  source/adapters/hip/platform.cpp
  source/adapters/hip/program.cpp
  source/adapters/hip/queue.cpp
  source/adapters/hip/usm.cpp
  source/adapters/hip/usm_p2p.cpp
  test/adapters/hip/test_context.cpp
  test/adapters/hip/urContextGetNativeHandle.cpp
  test/conformance/context/context_adapter_level_zero_v2.match
  test/conformance/context/context_adapter_native_cpu.match
  test/conformance/context/urContextCreateWithNativeHandle.cpp
Labels: conformance, hip, ready to merge, command-buffer

#2095 Reflect upstream OpenCL command-buffer API changes
  source/adapters/opencl/CMakeLists.txt
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/common.hpp
Labels: ready to merge, command-buffer

#2117 Fix urEnqueueEventsWaitWithBarrier when used with interop events
  source/adapters/level_zero/event.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/urEventCreateWithNativeHandle.cpp
Labels: level-zero, ready to merge, v0.10.x

#2124 Fix urEnqueueEventsWaitWithBarrier when used with interop events (0.10.x)
  source/adapters/level_zero/event.cpp
Labels: level-zero

#2116 More warning squishing
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/image.cpp
  source/adapters/cuda/kernel.cpp
  source/adapters/hip/usm.cpp
  source/loader/ur_lib.cpp
  source/loader/ur_lib.hpp
Labels: loader, images, cuda, hip, ready to merge, v0.10.x

#1836 Small typo fix for ERROR_ADAPTER_SPECIFIC spec description
  include/ur_api.h
  scripts/core/common.yml
  source/adapters/opencl/common.cpp
Labels: specification, ready to merge

#1996 Add two new properties to ur_kernel_group_info_t
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/kernel.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/cuda/program.cpp
  source/adapters/cuda/program.hpp
  source/adapters/hip/kernel.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/kernel.cpp
  source/adapters/native_cpu/kernel.hpp
  source/adapters/native_cpu/program.cpp
  source/adapters/native_cpu/program.hpp
  source/adapters/opencl/kernel.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur/ur.hpp
  source/ur_api.cpp
  test/conformance/kernel/kernel_adapter_native_cpu.match
  test/conformance/kernel/urKernelGetGroupInfo.cpp
Labels: loader, conformance, specification, level-zero, cuda, hip, ready to merge, native-cpu

#1962 [Cuda] Reintroduce catching and reporting of bad_alloc for event object creation
  source/adapters/cuda/event.cpp
Labels: cuda, ready to merge

#1979 Update the bool return type for Cuda and HIP bool info queries
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
Labels: cuda, hip, ready to merge

#1992 [CUDA][HIP] Associate queue with device in context
  source/adapters/cuda/queue.cpp
  source/adapters/hip/queue.cpp
Labels: cuda, hip, ready to merge

#2134 [L0] Fix Multi Device Event handling and remove unhandled events from in order wait list
  source/adapters/level_zero/event.cpp
Labels: level-zero, v0.10.x

#2136 Candidate for the v0.10.8 release tag
  source/adapters/level_zero/event.cpp
Labels: level-zero

#2102 Improvements to align CTS and Spec for Loader
  include/ur_api.h
  scripts/core/INTRO.rst
  scripts/core/loader.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/loader/loader_config/CMakeLists.txt
  test/loader/loader_config/urLoaderConfigCreate.cpp
  test/loader/loader_config/urLoaderConfigGetInfo.cpp
  test/loader/loader_config/urLoaderConfigSetCodeLocationCallback.cpp
Labels: loader, specification

#2137 Don't use empty match test files
  test/conformance/CMakeLists.txt
  test/conformance/adapter/adapter_adapter_cuda.match
  test/conformance/adapter/adapter_adapter_hip.match
  test/conformance/adapter/adapter_adapter_level_zero.match
  test/conformance/adapter/adapter_adapter_level_zero_v2.match
  test/conformance/adapter/adapter_adapter_opencl.match
  test/conformance/context/context_adapter_cuda.match
  test/conformance/context/context_adapter_hip.match
  test/conformance/context/context_adapter_opencl.match
  test/conformance/cts_exe.py
  test/conformance/event/event_adapter_opencl.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_opencl.match
  test/conformance/exp_enqueue_native/exp_enqueue_native_adapter_cuda.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_cuda.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_hip.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_level_zero_v2.match
  test/conformance/exp_launch_properties/exp_launch_properties_adapter_opencl.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_cuda.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_hip.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_level_zero.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_level_zero_v2.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_native_cpu.match
  test/conformance/exp_usm_p2p/exp_usm_p2p_adapter_opencl.match
  test/conformance/integration/integration_adapter_cuda.match
  test/conformance/integration/integration_adapter_hip.match
  test/conformance/memory-migrate/memory-migrate_adapter_cuda.match
  test/conformance/memory-migrate/memory-migrate_adapter_hip.match
  test/conformance/memory-migrate/memory-migrate_adapter_level_zero.match
  test/conformance/memory-migrate/memory-migrate_adapter_level_zero_v2.match
  test/conformance/memory-migrate/memory-migrate_adapter_native_cpu.match
  test/conformance/memory-migrate/memory-migrate_adapter_opencl.match
  test/conformance/platform/platform_adapter_level_zero.match
  test/conformance/platform/platform_adapter_level_zero_v2.match
  test/conformance/platform/platform_adapter_opencl.match
  test/conformance/queue/queue_adapter_cuda.match
  test/conformance/queue/queue_adapter_hip.match
  test/conformance/queue/queue_adapter_level_zero_v2.match
  test/conformance/queue/queue_adapter_opencl.match
  test/conformance/sampler/sampler_adapter_cuda.match
  test/conformance/sampler/sampler_adapter_hip.match
  test/conformance/sampler/sampler_adapter_native_cpu.match
  test/conformance/sampler/sampler_adapter_opencl.match
  test/conformance/virtual_memory/virtual_memory_adapter_cuda.match
  test/conformance/virtual_memory/virtual_memory_adapter_hip.match
  test/conformance/virtual_memory/virtual_memory_adapter_native_cpu.match
  test/conformance/virtual_memory/virtual_memory_adapter_opencl.match
Labels: conformance

#2091 Improvements to align CTS and Spec for Adapter
  include/ur_api.h
  scripts/core/adapter.yml
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/adapter/urAdapterGet.cpp
  test/conformance/adapter/urAdapterGetInfo.cpp
  test/conformance/adapter/urAdapterRelease.cpp
  test/conformance/adapter/urAdapterRetain.cpp
Labels: loader, conformance, specification, ready to merge

#2017 [L0] Use zesInit for SysMan API usage
  source/adapters/level_zero/adapter.cpp
  source/adapters/level_zero/adapter.hpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.hpp
  test/conformance/device/device_adapter_level_zero.match
Labels: conformance, level-zero, ready to merge

#1924 Add support for command-buffer kernel updates
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/device.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/testing/include/uur/raii.h
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, ready to merge, native-cpu, command-buffer

#2073 Fabio/cmd buffer kernel update staging
  include/ur_api.h
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/device.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/adapters/opencl/common.cpp
  source/adapters/opencl/common.hpp
  source/adapters/opencl/device.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/device_code/CMakeLists.txt
  test/conformance/device_code/fill_usm_2d.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_cuda.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_hip.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_level_zero_v2.match
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/testing/include/uur/raii.h
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, native-cpu, command-buffer

#2148 update e2e level zero xfails
  .github/workflows/e2e_level_zero.yml
Labels: ci/cd

#2115 sycl-bench added & ascii bar chart
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/benches/quicksilver.py
  scripts/benchmarks/benches/syclbench.py
  scripts/benchmarks/benches/velocity.py
  scripts/benchmarks/main.py
  scripts/benchmarks/output.py
  scripts/benchmarks/utils/utils.py
Labels: ci/cd
