Repository oneapi-src/unified-runtime, pull requests merged in 2025-02, with the labels that each got.

#2612 [L0]: fix missing destroy of event given enqueue wait out event
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge

#2654 [benchmarks] don't fail on suite setup issues
  scripts/benchmarks/benches/oneapi.py
  scripts/benchmarks/main.py
Labels: ci/cd

#2641 [CTS] add simple test that combines kernel launch and memcpy
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
Labels: conformance, ready to merge

#2657 [L0 v2] support SYCL_PI_LEVEL_ZERO_DISABLE_USM_ALLOCATOR
  source/adapters/level_zero/v2/usm.cpp
  source/common/ur_pool_manager.hpp
Labels: common, level-zero

#2620 Remove virtual methods from ur_mem_handle_t_
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge

#2596 [common] Bump UMF to early 0.11 version, from main
  source/common/CMakeLists.txt
  source/common/umf_helpers.hpp
Labels: common, ready to merge

#2646 Refactor KNOWN_FAILURE implementation to avoid repeated logic.
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/environment.h
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/testing/include/uur/known_failure.h
Labels: conformance

#2618 [L0] MAX_COMPUTE_UNITS using ze_eu_count_ext_t
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: level-zero, ready to merge

#2480 Use UMF CUDA memory provider in UR
  source/adapters/cuda/context.hpp
  source/adapters/cuda/device.hpp
  source/adapters/cuda/memory.cpp
  source/adapters/cuda/platform.cpp
  source/adapters/cuda/usm.cpp
  source/common/CMakeLists.txt
  source/common/umf_helpers.hpp
Labels: ci/cd, common, cuda, ready to merge

#2496 [UR][Bindless] Initial implementation of bindless images for HIP
  source/adapters/hip/common.cpp
  source/adapters/hip/device.cpp
  source/adapters/hip/device.hpp
  source/adapters/hip/image.cpp
  source/adapters/hip/image.hpp
  source/adapters/hip/sampler.hpp
  source/adapters/hip/ur_interface_loader.cpp
Labels: images, hip, ready to merge

#2655 [NativeCPU] Handle null phEvent.
  source/adapters/native_cpu/enqueue.cpp
Labels: ready to merge, native-cpu

#2642 Improvements to align CTS and Spec for USM
  test/conformance/usm/helpers.h
  test/conformance/usm/urUSMDeviceAlloc.cpp
  test/conformance/usm/urUSMHostAlloc.cpp
  test/conformance/usm/urUSMPoolRelease.cpp
  test/conformance/usm/urUSMSharedAlloc.cpp
Labels: conformance

#2606 Rename urCommandBufferEnqueueExp to urEnqueueCommandBufferExp
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  scripts/core/registry.yml
  scripts/templates/queue_api.hpp.mako
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/event.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/commands.cpp
  test/conformance/exp_command_buffer/event_sync.cpp
  test/conformance/exp_command_buffer/fill.cpp
  test/conformance/exp_command_buffer/kernel_event_sync.cpp
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/event_sync.cpp
  test/conformance/exp_command_buffer/update/kernel_event_sync.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/program/urMultiDeviceProgramCreateWithBinary.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu, command-buffer

#2626 Reorganised urEventGetProfilingInfo test into separate tests instead of a switch
  test/conformance/adapter/urAdapterGetInfo.cpp
  test/conformance/context/urContextGetInfo.cpp
  test/conformance/event/urEventGetInfo.cpp
  test/conformance/event/urEventGetProfilingInfo.cpp
  test/conformance/kernel/urKernelGetGroupInfo.cpp
  test/conformance/kernel/urKernelGetInfo.cpp
  test/conformance/kernel/urKernelGetSubGroupInfo.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/sampler/urSamplerGetInfo.cpp
  test/conformance/testing/include/uur/checks.h
  test/conformance/usm/urUSMGetMemAllocInfo.cpp
  test/conformance/usm/urUSMPoolGetInfo.cpp
  test/conformance/virtual_memory/urPhysicalMemGetInfo.cpp
  test/conformance/virtual_memory/urVirtualMemGetInfo.cpp
  test/conformance/virtual_memory/urVirtualMemGranularityGetInfo.cpp
Labels: conformance

#2604 [DevASAN] Avoid directly UR api call
  source/loader/layers/sanitizer/asan/asan_shadow.hpp
Labels: loader

#2679 [DeviceASAN][bugfix] Not allow concurrent kernel launches across different queue
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
Labels: loader, ready to merge, v0.11.x

#2649 fix missing cmake options for UMF benchmarks
  .github/workflows/benchmarks-reusable.yml
Labels: ci/cd

#2686 [L0 v2] reorder context members
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/context.cpp
  source/adapters/level_zero/v2/context.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  test/adapters/level_zero/v2/command_list_cache_test.cpp
Labels: level-zero, command-buffer

#2682 Add USMMemcpy to v2 command buffer
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/command_list_manager.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
Labels: level-zero, command-buffer

#2674 [CI][Bench] Use GPU mask to match the CPU mask
  .github/workflows/benchmarks-reusable.yml
Labels: ci/cd

#2690 [L0 v2] add missing urCommadBufferEnqueueExp function
  source/adapters/level_zero/v2/command_buffer.cpp
Labels: level-zero, command-buffer

#1600 [L0] Refactoring of boolean event parameters
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/context.hpp
  source/adapters/level_zero/event.cpp
  source/adapters/level_zero/event.hpp
  source/adapters/level_zero/v2/event_provider.hpp
Labels: level-zero, ready to merge

#2687 Improvements to align CTS and Spec for Event.
  test/conformance/event/urEventCreateWithNativeHandle.cpp
  test/conformance/event/urEventGetProfilingInfo.cpp
  test/conformance/event/urEventSetCallback.cpp
Labels: conformance

#2672 common: Bump UMF version to v0.11.0-dev2
  source/common/CMakeLists.txt
Labels: common

#2675 Improvements to align CTS and Spec for Enqueue
  include/ur_api.h
  scripts/core/enqueue.yml
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/enqueue/urEnqueueDeviceGlobalVariableRead.cpp
  test/conformance/enqueue/urEnqueueDeviceGlobalVariableWrite.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemBufferCopyRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferReadRect.cpp
  test/conformance/enqueue/urEnqueueMemBufferWriteRect.cpp
  test/conformance/enqueue/urEnqueueUSMAdvise.cpp
  test/conformance/enqueue/urEnqueueUSMFill.cpp
  test/conformance/enqueue/urEnqueueUSMMemcpy2D.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/usm/helpers.h
  test/conformance/usm/urUSMDeviceAlloc.cpp
  test/conformance/usm/urUSMHostAlloc.cpp
  test/conformance/usm/urUSMSharedAlloc.cpp
Labels: loader, conformance, specification

#2684 Add mem buffer operations to command buffer v2
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/command_list_manager.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
Labels: ci/cd, loader, conformance, level-zero, ready to merge, command-buffer

#2680 Do not fetch cudart from gitlab for UMF
  source/common/CMakeLists.txt
Labels: common, cuda, ready to merge

#2640 [L0 v2] add support for images
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/helpers/image_helpers.cpp
  source/adapters/level_zero/helpers/image_helpers.hpp
  source/adapters/level_zero/image.cpp
  source/adapters/level_zero/image.hpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/sampler.cpp
  source/adapters/level_zero/ur_level_zero.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/command_list_manager.hpp
  source/adapters/level_zero/v2/common.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/kernel.hpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/memory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
  test/conformance/enqueue/urEnqueueMemImageCopy.cpp
  test/conformance/enqueue/urEnqueueMemImageRead.cpp
  test/conformance/enqueue/urEnqueueMemImageWrite.cpp
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemBufferPartition.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/memory/urMemImageCreateWithImageFormatParam.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/virtual_memory/urPhysicalMemCreate.cpp
  test/conformance/virtual_memory/urPhysicalMemGetInfo.cpp
  test/conformance/virtual_memory/urVirtualMemGranularityGetInfo.cpp
Labels: conformance, images, level-zero

#2689 Mark OpenCL CPU known failing device more generally
  test/conformance/kernel/urKernelGetGroupInfo.cpp
Labels: conformance

#2592 [DeviceASAN] Fix throw "UR_RESULT_ERROR_INVALID_ARGUMENT" exception when catching free related error
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_options.cpp
  source/loader/layers/sanitizer/asan/asan_options.hpp
Labels: loader, ready to merge

#2571 Enable the registry of level_zero_v2
  source/loader/ur_adapter_registry.hpp
Labels: loader, specification, ready to merge

#2704 [NFC] Small refactor for MsanInterceptor::allocateMemory
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
Labels: loader

#2601 In docs, mark "allocating" functions as such
  include/ur_api.h
  scripts/YaML.md
  scripts/core/adapter.yml
  scripts/core/context.yml
  scripts/core/device.yml
  scripts/core/enqueue.yml
  scripts/core/event.yml
  scripts/core/exp-bindless-images.yml
  scripts/core/exp-command-buffer.yml
  scripts/core/exp-cooperative-kernels.yml
  scripts/core/exp-launch-properties.yml
  scripts/core/exp-low-power-events.yml
  scripts/core/exp-multi-device-compile.yml
  scripts/core/exp-native-enqueue.yml
  scripts/core/kernel.yml
  scripts/core/loader.yml
  scripts/core/memory.yml
  scripts/core/platform.yml
  scripts/core/program.yml
  scripts/core/queue.yml
  scripts/core/sampler.yml
  scripts/core/usm.yml
  scripts/core/virtual_memory.yml
  source/adapters/mock/ur_mockddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, images, specification, experimental, command-buffer

#2693 change markdown output in benchmark PR comments
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
  scripts/benchmarks/README.md
  scripts/benchmarks/main.py
  scripts/benchmarks/options.py
  scripts/benchmarks/output_markdown.py
Labels: ci/cd

#2710 add comparing to baseline in benchmark workflow
  .github/workflows/benchmarks-reusable.yml
Labels: ci/cd

#2711 update README and a parameter description in benchmarks
  .github/workflows/benchmarks.yml
  scripts/benchmarks/README.md
Labels: ci/cd

#2709 [NFC] Format python code with black
  cmake/match.py
  scripts/add_experimental_feature.py
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/benches/llamacpp.py
  scripts/benchmarks/benches/oneapi.py
  scripts/benchmarks/benches/result.py
  scripts/benchmarks/benches/syclbench.py
  scripts/benchmarks/benches/test.py
  scripts/benchmarks/benches/umf.py
  scripts/benchmarks/benches/velocity.py
  scripts/benchmarks/history.py
  scripts/benchmarks/main.py
  scripts/benchmarks/options.py
  scripts/benchmarks/output_html.py
  scripts/benchmarks/output_markdown.py
  scripts/benchmarks/utils/compute_runtime.py
  scripts/benchmarks/utils/utils.py
  scripts/ctest_parser.py
  scripts/generate_code.py
  scripts/generate_docs.py
  scripts/generate_ids.py
  scripts/generate_kernel_header.py
  scripts/json2src.py
  scripts/parse_specs.py
  scripts/run.py
  scripts/templates/__init__.py
  scripts/templates/helper.py
  scripts/templates/print_helper.py
  scripts/util.py
  scripts/verify_license.py
  scripts/version.py
  test/conformance/cts_exe.py
  tools/urtrace/urtrace.py
Labels: conformance

#2712 [NFC] Format c++ code
  test/conformance/memory/urMemRetain.cpp
Labels: conformance

#2590 Update docs to reflect repo move.
  README.md
  scripts/core/CONTRIB.rst
  scripts/core/INTRO.rst
Labels: specification

#2717 Remove moved/redundant workflows
  .github/workflows/build-hw-reusable.yml
  .github/workflows/e2e.yml
  .github/workflows/e2e_core.yml
  .github/workflows/e2e_cuda.yml
  .github/workflows/e2e_level_zero.yml
  .github/workflows/e2e_opencl.yml
  .github/workflows/source-checks.yml
  .github/workflows/unified-runtime.yml
Labels: ci/cd

#2685 Add two new workflows to warn PR authors about the intel/llvm migration
  .github/workflows/pr-migration-auto-close.yml
  .github/workflows/pr-migration-warn.yml
Labels: ci/cd

#2725 Temporarily remove the new workflows for warning about PR migration to intel/llvm
  .github/workflows/pr-migration-auto-close.yml
  .github/workflows/pr-migration-warn.yml
Labels: ci/cd

#2726 Re-add migration workflows, both to run on schedule
  .github/workflows/pr-migration-auto-close.yml
  .github/workflows/pr-migration-warn.yml
Labels: ci/cd
