Repository oneapi-src/unified-runtime, pull requests merged in 2025-03, with the labels that each got.

#2729 Add workflow to mirror commits from intel/llvm
  .github/workflows/mirror-intel-llvm-commits.yml
Labels: ci/cd

#2730 [UR][L0] Disable Immediate Command List DG2 Windows
  CMakeLists.txt
  source/adapters/level_zero/device.cpp
  source/adapters/level_zero/device.hpp
Labels: level-zero, auto-close

#2732 Remove fuzz and multi-device workflows
  .github/workflows/fuzz.yml
  .github/workflows/multi_device.yml
Labels: ci/cd

#2733 restore performance workflow
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
Labels: ci/cd, auto-close

#2734 [UR][L0] Release parent of sub-buffer when sub-buffer dies
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/memory.hpp
Labels: level-zero, ready to merge

#2737 add BMG perf nightly job
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
Labels: ci/cd, auto-close

#2741 fix nightly performance job
  .github/workflows/benchmarks-nightly.yml
Labels: ci/cd, auto-close

#2738 Remove Coverity workflow
  .github/workflows/coverity.yml
Labels: ci/cd, auto-close

#2744 [CI][Bench] Fix for pip packages and fix md file path
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
Labels: ci/cd, auto-close

#2743 Fix workflows default tokens
  .github/workflows/benchmarks-nightly.yml
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
  .github/workflows/mirror-intel-llvm-commits.yml
Labels: ci/cd, auto-close

#2745 [CI] Remove redundant jobs and clean up README badges
  .github/workflows/build-fuzz-reusable.yml
  .github/workflows/examples-hw-level-zero.yml
  .github/workflows/nightly.yml
  README.md
Labels: ci/cd

#2748 fix regenerating htmls using dry run in nightly
  .github/workflows/benchmarks-reusable.yml
Labels: ci/cd, auto-close
