Repository oneapi-src/unified-runtime, pull requests merged in 2025-01, with the labels that each got.

#2510 Fix bench template
  scripts/benchmarks/output_html.py
Labels: ci/cd

#2501 [L0] Fixes potential overwrite in ZeEventPoolDesc.pNext
  source/adapters/level_zero/context.cpp
Labels: level-zero, ready to merge, v0.11.x

#2502 CUTensorMap is only in CUDA v12
  source/adapters/cuda/tensor_map.cpp
Labels: cuda, ready to merge, v0.11.x

#2488 Move urEventGetInfo success test from a switch to individual tests
  test/conformance/event/urEventGetInfo.cpp
Labels: conformance

#2481 Fix potential deadlock in the WaitEvent path of CmdBuffers
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer

#2503 [Windows][CUDA] Fix cuda uninitialized event warning
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/device.cpp
  source/adapters/cuda/platform.cpp
Labels: cuda, ready to merge, command-buffer

#2519 Revert "Fix potential deadlock in the WaitEvent path of CmdBuffers"
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, command-buffer

#2478 [DeviceSanitizer] When link with libc++, link the gcc_s first.
  source/loader/CMakeLists.txt
Labels: loader, v0.11.x

#2506 [DeviceASAN] Fix urKernelCreateWithNativeHandle segfault
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/msan/msan_ddi.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.hpp
Labels: loader, v0.11.x

#2508 [DeviceMSAN] Fix empty kernel
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
Labels: loader, v0.11.x

#2123 [NFC] Don't print generated device binary names
  test/conformance/device_code/CMakeLists.txt
Labels: conformance

#2513 [DeviceMSAN] Fix "urEnqueueUSM" APIs
  source/loader/layers/sanitizer/msan/msan_ddi.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.hpp
  source/loader/layers/sanitizer/msan/msan_shadow.cpp
  source/loader/layers/sanitizer/msan/msan_shadow.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_utils.cpp
Labels: loader, v0.11.x

#2518 Move urContextGetInfo success test from a switch to individual tests
  test/conformance/context/urContextGetInfo.cpp
  test/conformance/event/urEventGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
Labels: conformance

#2504 [L0] Remove handle Translation in MCL if loader extension used
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/platform.cpp
  source/adapters/level_zero/platform.hpp
Labels: level-zero, ready to merge, command-buffer, v0.11.x

#2517 Use std::string in create_logger to avoid valgrind warning in some configs
  source/common/logger/ur_logger.hpp
Labels: common, ready to merge, v0.11.x

#2524 [L0]: Fix Out Event in Enqueue Wait Events to prevent reuse
  source/adapters/level_zero/event.cpp
Labels: level-zero, ready to merge, v0.11.x

#2462 Improve specification of command-buffer update errors
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/CMakeLists.txt
  test/conformance/exp_command_buffer/exp_command_buffer_adapter_native_cpu.match
  test/conformance/exp_command_buffer/invalid.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
Labels: loader, conformance, specification, experimental, opencl, ready to merge, command-buffer

#2512 [NativeCPU] Handle local args.
  source/adapters/native_cpu/enqueue.cpp
  source/adapters/native_cpu/kernel.hpp
Labels: ready to merge, native-cpu

#2523 Rework urPlatformGetInfo test into individual tests instead of a switch
  test/conformance/platform/urPlatformGetInfo.cpp
Labels: conformance

#2482 Get rid of extra-confounding test helper code
  test/adapters/cuda/fixtures.h
  test/adapters/hip/fixtures.h
Labels: ready to merge

#2521 Move urMemoryGetInfo success test from a switch to individual tests
  test/conformance/adapter/urAdapterGetInfo.cpp
  test/conformance/event/urEventGetInfo.cpp
  test/conformance/memory/memory_adapter_level_zero.match
  test/conformance/memory/memory_adapter_native_cpu.match
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/virtual_memory/urPhysicalMemGetInfo.cpp
Labels: conformance

#2542 [L0 v2] implement urKernelGetSuggestedLocalWorkSize
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/kernel.cpp
Labels: level-zero

#2536 Move urSamplerGetInfo success test from a switch to individual tests
  test/conformance/sampler/sampler_adapter_level_zero.match
  test/conformance/sampler/urSamplerGetInfo.cpp
Labels: conformance

#2545 Replace bare issue numbers with URLs
  scripts/core/enqueue.yml
  scripts/core/event.yml
  source/adapters/cuda/adapter.cpp
  source/adapters/cuda/memory.cpp
  source/adapters/hip/adapter.cpp
  source/adapters/hip/memory.cpp
Labels: specification, cuda, hip

#2515 [L0 v2] implement urKernelSuggestMaxCooperativeGroupCountExp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/kernel.cpp
Labels: level-zero

#2522 Update urProgramGetFunctionPointer test
  test/conformance/program/urProgramGetFunctionPointer.cpp
Labels: conformance

#2553 [L0] fix linkage for urPhysicalMemGetInfo on Windows
  source/adapters/level_zero/physical_mem.cpp
Labels: level-zero

#2527 Wrap urEventSetCallback when ran through loader
  scripts/templates/ldrddi.cpp.mako
  source/loader/ur_ldrddi.cpp
  test/conformance/event/urEventSetCallback.cpp
Labels: ci/cd, loader, conformance

#2556 Fix error returns of urUSMHostAlloc
  include/ur_api.h
  scripts/core/usm.yml
  scripts/templates/helper.py
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
Labels: loader, specification

#2550 Use PROJECT_SOURCE_DIR instead of CMAKE_SOURCE_DIR
  cmake/helpers.cmake
  examples/collector/CMakeLists.txt
  source/common/CMakeLists.txt
  test/layers/tracing/CMakeLists.txt
  tools/urtrace/CMakeLists.txt
Labels: common

#2520 [DevMSAN] Propagate shadow memory in buffer related APIs
  source/loader/layers/sanitizer/msan/msan_buffer.cpp
  source/loader/layers/sanitizer/msan/msan_ddi.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
Labels: loader, level-zero, v0.11.x

#2547 Be less strict with timer test
  test/conformance/device/urDeviceGetGlobalTimestamps.cpp
Labels: conformance

#2534 [DeviceMSAN] Fix gpu crashed on device global variable
  source/loader/layers/sanitizer/msan/msan_buffer.cpp
  source/loader/layers/sanitizer/msan/msan_ddi.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
  source/loader/layers/sanitizer/msan/msan_interceptor.hpp
  source/loader/layers/sanitizer/msan/msan_libdevice.hpp
  source/loader/layers/sanitizer/msan/msan_shadow.cpp
Labels: loader, ready to merge, v0.11.x

#2540 Move urProgramGetInfo success test from a switch to individual tests.
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
Labels: conformance

#2541 Move urVirtualMemGetInfo success test from a switch to individual tests
  test/conformance/virtual_memory/urVirtualMemGetInfo.cpp
Labels: conformance

#2546 [main] Bump UMF to v0.10.1
  source/common/CMakeLists.txt
Labels: common, ready to merge

#2562 Update MemBufferCreate with unsupported checks
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
Labels: conformance

#2567 Mark urKernelGetGroupInfoMaxWorkGroupSize as failing on 12th gen
  test/conformance/kernel/urKernelGetGroupInfo.cpp
Labels: conformance

#2566 ShadowMemory should increment/decrement device handle
  source/loader/layers/sanitizer/asan/asan_shadow.hpp
Labels: loader

#2570 Fix Coverity COPY_INSTEAD_OF_MOVE defects.
  source/common/logger/ur_logger.hpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/msan/msan_buffer.hpp
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
  test/conformance/source/environment.cpp
  test/conformance/testing/include/uur/known_failure.h
Labels: loader, common, conformance

#2569 [DevASAN] Only report warning if passing host ptr to kernel
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
Labels: loader, v0.11.x

#2573 Fix memory leak in loader urEventSetCallback
  scripts/templates/ldrddi.cpp.mako
  source/loader/ur_ldrddi.cpp
Labels: loader

#2538 Move urUSMGetMemAlloc/PoolGetInfo success test from a switch to indivual tests
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/usm/urUSMGetMemAllocInfo.cpp
  test/conformance/usm/urUSMPoolGetInfo.cpp
Labels: conformance

#2451 [L0 v2] implement deferred kernel deallocation
  .github/workflows/build-hw-reusable.yml
  scripts/benchmarks/benches/compute.py
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/CMakeLists.txt
  test/adapters/level_zero/v2/deferred_kernel.cpp
  test/adapters/level_zero/v2/level_zero_deferred_kernel_memcheck.match
Labels: ci/cd, conformance, level-zero

#2565 Redo various urXGetInfo query tests so the first call uses the ASSERT_SUCCESS_OR_OPTIONAL_QUERY macro
  test/conformance/adapter/urAdapterGetInfo.cpp
  test/conformance/context/urContextGetInfo.cpp
  test/conformance/event/urEventGetInfo.cpp
  test/conformance/kernel/urKernelGetGroupInfo.cpp
  test/conformance/kernel/urKernelGetInfo.cpp
  test/conformance/kernel/urKernelGetSubGroupInfo.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/platform/urPlatformGetInfo.cpp
  test/conformance/program/urProgramGetBuildInfo.cpp
  test/conformance/program/urProgramGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/sampler/urSamplerGetInfo.cpp
  test/conformance/virtual_memory/urPhysicalMemGetInfo.cpp
  test/conformance/virtual_memory/urVirtualMemGranularityGetInfo.cpp
Labels: conformance

#2561 [L0][CMDBUF] Optimize fence/event waits during update
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
Labels: level-zero, ready to merge, command-buffer

#2577 add building compute-runtime UMD in benchmarks jobs
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/benchmarks.yml
  scripts/benchmarks/benches/base.py
  scripts/benchmarks/benches/compute.py
  scripts/benchmarks/benches/llamacpp.py
  scripts/benchmarks/benches/oneapi.py
  scripts/benchmarks/benches/syclbench.py
  scripts/benchmarks/benches/test.py
  scripts/benchmarks/benches/umf.py
  scripts/benchmarks/benches/velocity.py
  scripts/benchmarks/history.py
  scripts/benchmarks/main.py
  scripts/benchmarks/options.py
  scripts/benchmarks/output_markdown.py
  scripts/benchmarks/utils/compute_runtime.py
  scripts/benchmarks/utils/utils.py
Labels: ci/cd

#2582 Enable Host USM backed images on Level Zero
  source/adapters/level_zero/image.cpp
Labels: images, level-zero

#2583 Fix Coverity COPY_INSTEAD_OF_MOVE defects.
  source/loader/layers/sanitizer/asan/asan_buffer.hpp
Labels: loader

#2539 Added `DEVICE_INFO_PROGRAM_SET_SPECIALIZATION_CONSTANTS`
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/device.yml
  scripts/core/program.yml
  source/adapters/cuda/device.cpp
  source/adapters/hip/device.cpp
  source/adapters/level_zero/device.cpp
  source/adapters/native_cpu/device.cpp
  source/adapters/opencl/device.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/device/urDeviceGetInfo.cpp
  test/conformance/program/urProgramSetSpecializationConstants.cpp
  tools/urinfo/urinfo.hpp
Labels: loader, conformance, specification, level-zero, cuda, hip, opencl, native-cpu

#2585 [DeivceASAN] Make ShadowMemory one instance per type
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.cpp
  source/loader/layers/sanitizer/asan/asan_interceptor.hpp
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_utils.cpp
Labels: loader, ready to merge, v0.11.x

#2588 Remove the prerelease.yml job
  .github/workflows/prerelease.yml
Labels: ci/cd

#2586 [DeviceASAN] Fix kernel release order
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/sanitizer/msan/msan_ddi.cpp
Labels: loader, ready to merge, v0.11.x

#2516 [L0 v2][CTS] Fix problems reported by SYCL e2e tests
  source/adapters/level_zero/queue.cpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_list_cache.cpp
  source/adapters/level_zero/v2/event_provider_normal.cpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/memory.cpp
  source/adapters/level_zero/v2/memory.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/usm.cpp
  test/adapters/level_zero/CMakeLists.txt
  test/adapters/level_zero/urEnqueueMemBufferMapHostPtr.cpp
  test/conformance/enqueue/urEnqueueMemBufferMap.cpp
Labels: common, conformance, level-zero

#2193 Clarify spec around isNativeHandleOwned.
  include/ur_api.h
  scripts/core/PROG.rst
  scripts/core/context.yml
  scripts/core/device.yml
  scripts/core/event.yml
  scripts/core/kernel.yml
  scripts/core/memory.yml
  scripts/core/platform.yml
  scripts/core/program.yml
  scripts/core/queue.yml
  scripts/core/sampler.yml
  source/adapters/cuda/queue.cpp
  source/adapters/hip/memory.cpp
  source/adapters/hip/queue.cpp
  source/adapters/level_zero/context.cpp
  source/adapters/level_zero/kernel.cpp
  source/adapters/level_zero/memory.cpp
  source/adapters/level_zero/program.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  test/conformance/context/urContextCreateWithNativeHandle.cpp
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/event/urEventCreateWithNativeHandle.cpp
  test/conformance/kernel/urKernelCreateWithNativeHandle.cpp
  test/conformance/memory/urMemBufferCreateWithNativeHandle.cpp
  test/conformance/memory/urMemImageCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
  test/conformance/program/urProgramCreateWithNativeHandle.cpp
  test/conformance/queue/urQueueCreateWithNativeHandle.cpp
  test/conformance/sampler/urSamplerCreateWithNativeHandle.cpp
Labels: conformance, specification, level-zero, cuda, hip, opencl, ready to merge

#2595 Reduce CI matrix in preparation for repo move
  .github/workflows/build-hw-reusable.yml
  .github/workflows/cmake.yml
  .github/workflows/e2e.yml
  .github/workflows/fuzz.yml
  .github/workflows/source-checks.yml
  .github/workflows/unified-runtime.yml
Labels: ci/cd

#2605 [DeviceASAN] Bugfix for GetDeviceType
  source/loader/layers/sanitizer/sanitizer_common/sanitizer_utils.cpp
Labels: loader, ready to merge, v0.11.x

#2589 Fix potential deadlock in the WaitEvent path of CmdBuffers
  source/adapters/level_zero/command_buffer.cpp
Labels: level-zero, ready to merge, command-buffer

#2559 [CUDA][HIP] Fix kernel arguments being overwritten when added out of order
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/kernel.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/enqueue.cpp
  source/adapters/hip/kernel.hpp
  test/adapters/cuda/kernel_tests.cpp
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
  test/conformance/kernel/urKernelSetArgLocal.cpp
Labels: conformance, cuda, hip, ready to merge, command-buffer

#2549 Move urMemImageGetInfo success test from a switch to individual test
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/memory.yml
  source/adapters/opencl/memory.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, opencl

#2572 update GitHub Cache action to 4.2.0
  .github/workflows/benchmarks-reusable.yml
  .github/workflows/docs.yml
Labels: ci/cd

#2613 Revert "Move urMemImageGetInfo success test from a switch to individual test"
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/memory.yml
  source/adapters/opencl/memory.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, opencl

#2551 Enable creation of bindless images backed by host USM
  source/adapters/cuda/image.cpp
Labels: images, cuda, ready to merge

#2574 fix parseDisjointPoolConfig and add tests
  source/common/umf_pools/disjoint_pool_config_parser.cpp
  test/usm/usmPoolManager.cpp
Labels: memory, common, conformance, umf, ready to merge

#2625 Remove unnecessary OpenCL KNOWN_FAILURE from urKernelGetInfoTest.
  test/conformance/kernel/urKernelGetInfo.cpp
Labels: conformance

#2624 Assert that Device is valid for memory poisoning
  source/loader/layers/sanitizer/msan/msan_interceptor.cpp
Labels: loader

#2628 Remove unused `virtual` in cuda command buffers
  source/adapters/cuda/command_buffer.hpp
Labels: cuda, command-buffer

#2580 Update some UUR_KNOWN_FAILURE_ONs
  test/conformance/enqueue/urEnqueueKernelLaunch.cpp
Labels: conformance

#2610 Revert "[UR][CUDA] Add tensor map APIs"
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-TENSOR-MAP.rst
  scripts/core/exp-tensor-map.yml
  scripts/core/registry.yml
  source/adapters/adapter.def.in
  source/adapters/adapter.map.in
  source/adapters/cuda/CMakeLists.txt
  source/adapters/cuda/tensor_map.cpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/CMakeLists.txt
  source/adapters/hip/tensor_map.cpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/tensor_map.cpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/CMakeLists.txt
  source/adapters/native_cpu/tensor_map.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/CMakeLists.txt
  source/adapters/opencl/tensor_map.cpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_ldrddi.hpp
  source/loader/ur_libapi.cpp
  source/loader/ur_libddi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
Labels: loader, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu

#2594 Fix invalid use of dlopen()
  source/adapters/opencl/adapter.cpp
Labels: opencl, ready to merge

#2629 [v2] add initial Command Buffers support
  include/ur_api.h
  scripts/core/exp-command-buffer.yml
  scripts/templates/queue_api.cpp.mako
  scripts/templates/queue_api.hpp.mako
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/level_zero/CMakeLists.txt
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/helpers/kernel_helpers.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/command_buffer.hpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/command_list_manager.hpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  source/adapters/opencl/common.hpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, command-buffer

#2621 [benchmarks] use manifest to build compute-runtime dependencies
  .github/workflows/benchmarks-reusable.yml
  scripts/benchmarks/README.md
  scripts/benchmarks/main.py
  scripts/benchmarks/options.py
  scripts/benchmarks/utils/compute_runtime.py
  scripts/benchmarks/utils/utils.py
  third_party/benchmark_requirements.txt
Labels: ci/cd

#2632 Fix TEST_F -> TEST_P in platform + device native handle CTS tests.
  test/conformance/device/urDeviceCreateWithNativeHandle.cpp
  test/conformance/platform/urPlatformCreateWithNativeHandle.cpp
Labels: conformance

#2578 Remove command-buffer command handle ref counting
  include/ur_api.h
  include/ur_api_funcs.def
  include/ur_ddi.h
  include/ur_print.h
  include/ur_print.hpp
  scripts/core/EXP-COMMAND-BUFFER.rst
  scripts/core/exp-command-buffer.yml
  scripts/core/registry.yml
  source/adapters/cuda/command_buffer.cpp
  source/adapters/cuda/command_buffer.hpp
  source/adapters/cuda/ur_interface_loader.cpp
  source/adapters/hip/command_buffer.cpp
  source/adapters/hip/command_buffer.hpp
  source/adapters/hip/ur_interface_loader.cpp
  source/adapters/level_zero/command_buffer.cpp
  source/adapters/level_zero/command_buffer.hpp
  source/adapters/level_zero/ur_interface_loader.cpp
  source/adapters/level_zero/ur_interface_loader.hpp
  source/adapters/level_zero/v2/api.cpp
  source/adapters/mock/ur_mockddi.cpp
  source/adapters/native_cpu/command_buffer.cpp
  source/adapters/native_cpu/ur_interface_loader.cpp
  source/adapters/opencl/command_buffer.cpp
  source/adapters/opencl/command_buffer.hpp
  source/adapters/opencl/ur_interface_loader.cpp
  source/loader/layers/sanitizer/asan/asan_ddi.cpp
  source/loader/layers/tracing/ur_trcddi.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/loader.def.in
  source/loader/loader.map.in
  source/loader/ur_ldrddi.cpp
  source/loader/ur_libapi.cpp
  source/loader/ur_print.cpp
  source/ur_api.cpp
  test/conformance/exp_command_buffer/fixtures.h
  test/conformance/exp_command_buffer/release.cpp
  test/conformance/exp_command_buffer/retain.cpp
  test/conformance/exp_command_buffer/update/buffer_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/buffer_saxpy_kernel_update.cpp
  test/conformance/exp_command_buffer/update/invalid_update.cpp
  test/conformance/exp_command_buffer/update/kernel_event_sync.cpp
  test/conformance/exp_command_buffer/update/kernel_handle_update.cpp
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
  test/conformance/exp_command_buffer/update/ndrange_update.cpp
  test/conformance/exp_command_buffer/update/usm_fill_kernel_update.cpp
  test/conformance/exp_command_buffer/update/usm_saxpy_kernel_update.cpp
  test/conformance/program/urMultiDeviceProgramCreateWithBinary.cpp
  test/conformance/testing/include/uur/raii.h
  test/conformance/testing/include/uur/utils.h
Labels: loader, conformance, specification, experimental, level-zero, cuda, hip, opencl, ready to merge, native-cpu, command-buffer

#2619 Move urMemImageGetInfo success test from a switch to individual test
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/memory.yml
  source/adapters/opencl/memory.cpp
  source/loader/layers/validation/ur_valddi.cpp
  source/loader/ur_libapi.cpp
  source/ur_api.cpp
  test/conformance/memory/urMemImageGetInfo.cpp
  test/conformance/queue/urQueueGetInfo.cpp
  test/conformance/testing/include/uur/fixtures.h
Labels: loader, conformance, specification, opencl, ready to merge

#2631 Enable cmd-buf local memory update CTS tests on L0
  test/conformance/exp_command_buffer/update/local_memory_update.cpp
Labels: conformance, ready to merge

#2635 Remove virtual from L0 V2 queues
  scripts/templates/queue_api.cpp.mako
  scripts/templates/queue_api.hpp.mako
  source/adapters/level_zero/v2/command_buffer.cpp
  source/adapters/level_zero/v2/command_list_manager.cpp
  source/adapters/level_zero/v2/command_list_manager.hpp
  source/adapters/level_zero/v2/event.cpp
  source/adapters/level_zero/v2/event.hpp
  source/adapters/level_zero/v2/kernel.cpp
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_create.cpp
  source/adapters/level_zero/v2/queue_handle.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
  test/adapters/level_zero/v2/event_pool_test.cpp
Labels: level-zero, command-buffer

#2650 [L0] Fix UrL0LeaksDebug to track ImageViewCreateExt for Create Calls
  source/adapters/level_zero/adapter.cpp
Labels: level-zero

#2648 Fix the easily dealt with CL adapter KNOWN_FAILURES.
  test/conformance/device/urDeviceGetGlobalTimestamps.cpp
  test/conformance/kernel/urKernelGetGroupInfo.cpp
  test/conformance/kernel/urKernelGetSubGroupInfo.cpp
  test/conformance/kernel/urKernelSetArgSampler.cpp
  test/conformance/memory/urMemGetInfo.cpp
  test/conformance/memory/urMemImageCreate.cpp
  test/conformance/memory/urMemImageCreateWithImageFormatParam.cpp
  test/conformance/sampler/urSamplerCreate.cpp
  test/conformance/testing/include/uur/fixtures.h
  test/conformance/usm/urUSMGetMemAllocInfo.cpp
Labels: conformance

#2575 [CUDA][Bindless] Add support for device to device pitched copies and host to host copies
  include/ur_api.h
  include/ur_print.hpp
  scripts/core/EXP-BINDLESS-IMAGES.rst
  scripts/core/exp-bindless-images.yml
  source/adapters/cuda/enqueue.cpp
  source/adapters/cuda/enqueue.hpp
  source/adapters/cuda/image.cpp
Labels: images, specification, experimental, cuda, ready to merge

#2651 [L0 v2] fix queue destruction
  scripts/templates/queue_api.cpp.mako
  scripts/templates/queue_api.hpp.mako
  source/adapters/level_zero/v2/queue_api.cpp
  source/adapters/level_zero/v2/queue_api.hpp
  source/adapters/level_zero/v2/queue_handle.hpp
  source/adapters/level_zero/v2/queue_immediate_in_order.cpp
  source/adapters/level_zero/v2/queue_immediate_in_order.hpp
Labels: level-zero
